<!-- home.html -->
<dvt-dashboard promises="promises" parameters="dashboard.parameters" class="datavisualisation-page {{pLanguage}}" >
    <h1 class="title--section main-color outleft" data-ng-bind="i18n.L101007"></h1>
    <!-- Step 1 -->
    <section class="container section--page section-topic">
        <h2 class="title--section main-color text-center" data-ng-bind="i18n.L101021"></h2>
        <p class="text-center subtitle--section" data-ng-bind="i18n.L101023"></p>
        <ul class="card--grid min-height">
            <li class="card--item">               
                <a href class="icon--card osh-management-icon" data-ng-click="changeTopic($event,'osh-management')">
                    <span data-ng-bind="i18n.L100001"></span>
                </a>
            </li>
            <li class="card--item" data-ng-if="pIndicator!=2019">
                <a href class="icon--card psychosocial-risk-icon" data-ng-click="changeTopic($event,'psychosocial-risks-and-their-management')">
                    <span data-ng-bind="i18n.L100009" ></span>
                </a> 
            </li>
            <li class="card--item" data-ng-if="pIndicator==2019">
                <a href class="icon--card psychosocial-risk-icon" data-ng-click="changeTopic($event,'emerging-risks-and-their-management')">
                    <span data-ng-bind="i18n.L102017" ></span>
                </a> 
            </li>
            <li class="card--item">
                <a href class="icon--card drivers-barriers-icon" data-ng-click="changeTopic($event,'drivers-and-barriers')">
                    <span data-ng-bind="i18n.L100015"></span>
                </a>
            </li>
            <li class="card--item">
                <a href class="icon--card workers-participation-icon" data-ng-click="changeTopic($event,'worker-participation')">
                    <span data-ng-bind="i18n.L100021"></span>
                </a>
            </li>
        </ul>
    </section>
    <!-- Step 2 -->
    <section class="container section--page  section-chart">
        <h2 class="title--section main-color text-center" data-ng-bind="i18n.L101022"></h2>
        <p class="text-center subtitle--section" data-ng-bind="i18n.L101024"></p>
        <ul class="card--grid min-height">
            <li class="card--item">                
                <a href class="icon--card european-maps-icon" data-ng-click="changeChart($event,'european-map')" >
                    <span data-ng-bind="i18n.L100623"></span>
                </a>
                <p class="text-center" data-ng-bind="i18n.L100614" data-ng-click="changeChart($event,'european-map')"></p>
            </li>
            <li class="card--item">
                <a href class="icon--card eu-bar-chart-icon" data-ng-click="changeChart($event,'european-bar-chart')">
                    <span data-ng-bind="i18n.L100622"></span>
                </a>
                <p class="text-center" data-ng-bind="i18n.L100612" data-ng-click="changeChart($event,'european-bar-chart')"></p>
            </li>
            <li class="card--item">
                <a href class="icon--card national-bar-chart-icon" data-ng-click="changeChart($event,'national-bar-chart')">
                    <span data-ng-bind="i18n.L100624"></span>
                </a>
                <p class="text-center" data-ng-bind="i18n.L100616" data-ng-click="changeChart($event,'national-bar-chart')"></p>
            </li>
            <li class="card--item">
                <a href  class="icon--card national-comparision-icon" data-ng-click="changeChart($event,'national-comparisons')">
                    <span data-ng-bind="i18n.L100621"></span>
                </a>
                <p class="text-center" data-ng-bind="i18n.L100610" data-ng-click="changeChart($event,'national-comparisons')"></p> 
            </li>
            <li class="card--item">
                <a href class="icon--card pie-chart-icon" data-ng-click="changeChart($event,'pie-chart')">
                    <span data-ng-bind="i18n.L101033"></span>
                </a>
                <p class="text-center" data-ng-bind="i18n.L101025" data-ng-click="changeChart($event,'pie-chart')"></p>
            </li>
        </ul>
    </section>

    <p class="text-center">
        <button data-ng-if="pChart == 'european-map'" ng-disabled="(pTopic == '' || pChart == '')" data-ng-class="{'disabled':(pTopic == '' || pChart == '')}" ui-sref="detailpage-european-map({pLanguage: pLanguage, pLocale: pLocale, pIndicator: pIndicator, pTopic: pTopic, pChart: pChart, pQuestion: pQuestion, pSectorSize: 'activity-sector', pCountry: pCountry, pCountry2: 'AT', pActivityFilter: 14, pAnswer: pAnswer})" class="btn-default btn-main-color"><span data-ng-bind="i18n.L101020"></span>
        </button>
        <button data-ng-if="pChart == 'european-bar-chart'" ng-disabled="(pTopic == '' || pChart == '')" data-ng-class="{'disabled':(pTopic == '' || pChart == '')}" ui-sref="detailpage-european-bar-chart({pLanguage: pLanguage, pLocale: pLocale, pIndicator: pIndicator, pTopic: pTopic, pChart: pChart, pQuestion: pQuestion, pSectorSize: 'activity-sector', pCountry: pCountry, pCountry2: 'AT', pActivityFilter: 14, pAnswer: pAnswer})" class="btn-default btn-main-color"><span data-ng-bind="i18n.L101020"></span>
        </button>
        <button data-ng-if="pChart == 'national-bar-chart'" ng-disabled="(pTopic == '' || pChart == '')" data-ng-class="{'disabled':(pTopic == '' || pChart == '')}" ui-sref="detailpage-national-bar-chart({pLanguage: pLanguage, pLocale: pLocale, pIndicator: pIndicator, pTopic: pTopic, pChart: pChart, pQuestion: pQuestion, pSectorSize: 'company-size', pCountry: pCountry, pCountry2: 'AT', pAnswer: pAnswer})" class="btn-default btn-main-color"><span data-ng-bind="i18n.L101020"></span>
        </button>
        <button data-ng-if="pChart == 'national-comparisons'" ng-disabled="(pTopic == '' || pChart == '')" data-ng-class="{'disabled':(pTopic == '' || pChart == '')}" ui-sref="detailpage-national-comparisons({pLanguage: pLanguage, pLocale: pLocale, pIndicator: pIndicator, pTopic: pTopic, pChart: pChart, pQuestion: pQuestion, pSectorSize: 'activity-sector', pActivityFilter: 14, pCountry: pCountry, pCountry2: 'AT', pAnswer: pAnswer})" class="btn-default btn-main-color"><span data-ng-bind="i18n.L101020"></span>
        </button>
        <button data-ng-if="pChart == 'pie-chart'" ng-disabled="(pTopic == '' || pChart == '')" data-ng-class="{'disabled':(pTopic == '' || pChart == '')}" ui-sref="detailpage-pie-chart({pLanguage: pLanguage, pLocale: pLocale, pIndicator: pIndicator, pTopic: pTopic, pChart: pChart, pQuestion: pQuestion, pSectorSize: 'company-size', pActivityFilter: 14, pCountry: pCountry, pCountry2: 'AT', pAnswer: pAnswer})" class="btn-default btn-main-color"><span data-ng-bind="i18n.L101020"></span>
        </button>
        <button data-ng-if="pChart == ''" ng-disabled="(pTopic == '' || pChart == '')" data-ng-class="{'disabled':(pTopic == '' || pChart == '')}" ui-sref="detailpagenational-comparisons({pLanguage: pLanguage, pLocale: pLocale, pIndicator: pIndicator, pTopic: pTopic, pChart: pChart, pQuestion: pQuestion, pSectorSize: 'activity-sector', pActivityFilter: 14, pCountry: pCountry, pCountry2: 'AT', pAnswer: pAnswer})" class="btn-default btn-main-color"><span data-ng-bind="i18n.L101020"></span>
        </button>
    </p>

    <!--<p class="text-center"><button ng-disabled="(pTopic == '' || pChart == '')" data-ng-class="{'disabled':(pTopic == '' || pChart == '')}" class="btn-default btn-main-color"><span data-ng-bind="i18n.L101020"></span></button></p>-->

</dvt-dashboard>
