
.datavisualisation-page {
  .section--page{
    margin-bottom: 2rem;
  }
  h2{
    font-family: "OpenSans-bold", sans-serif;
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .subtitle--section{
    font-size: 2rem;
  } 
}
@media (max-width: 767px) {
  .datavisualisation-page{
    .card--grid{
      flex-direction: column;
      .card--item{
        width: 100%;
        &.min-height{
          .title--card{
            min-height: 10rem;
          }
        }
        a{
          background-position: 2rem center;
          background-size: 12rem !important;
          &.icon--card{
            height:14rem;
            &:hover{
              background-position: 2rem center !important;
            }
          }
          span{
            position: absolute;
            bottom:45%;
            left: auto;
            min-height:auto;
            width: 70%;
            padding: 0 1.3rem;
            display: block;
            right: 0;
            text-align: left;
          }
        }
      }
    }
  } 
}

@media (max-width: 475px) {
  .datavisualisation-page{
    .card--grid{
      .card--item{
        &.min-height{
          .title--card{
            min-height: 10rem;
          }
        }
        a{
          background-size: 9rem !important;
          background-position: 1rem center !important;
          &.icon--card{
            height:10rem;
            &:hover{
              background-position: 1rem center !important;
            }
          }
          span{
            position: absolute;
            bottom: auto;
            top: 30%;
            left: auto;
            min-height: auto;
            width: 60%;
            padding: 0 1.3rem;
            display: block;
            right: 0;
            text-align: left;
            height: auto;
          }
        }
      }
    }
  } 
}

/*** EXPORT PNG CLASS **/
.survey--map--block{
  &::after {
    content: "";
    clear: both;
    display: table;
  }
  #svg2image-map{
    width:1024px !important;
    height: auto !important;
    margin:auto !important;
    padding: 5rem !important;
  }
  #svg2image{
    width:1024px !important;
    height:auto !important;
    margin:auto !important;
    padding:0rem !important;
  }
}
