
.datavisualisation-page {
  .section--page{
    margin-bottom: 2rem;
  }
  h2{
    font-family: "OpenSans-bold", sans-serif;
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .subtitle--section{
    font-size: 2rem;
  }  
}
@media (max-width: 767px) {

  .datavisualisation-page{
    .card--grid{
      flex-direction: column;
      .card--item{
        width: 100%;
        &.min-height{
          .title--card{
            min-height: 10rem;
          }
        }
        a{
          background-position: 2rem center;
          background-size: 26%;
          &.icon--card{
            height:14rem;
          }
          span{
            position: absolute;
            bottom:45%;
            left: auto;
            min-height:auto;
            width: 70%;
            padding: 0 1.3rem;
            display: block;
            right: 0;
            text-align: left;
          }
        }
      }
    }
  }
 
}
