<!-- home.html -->
<dvt-dashboard promises="promises" parameters="dashboard.parameters" class="overview-page">

<section class="container-fluid">
    <div class="container">
      <ul class="">
        <!-- ESENER YEAR SELECTION -->
        <li data-ng-class="{'active' : 'esener2009-overview' == pIndicator }" class="submenu--item">
          <a ui-sref="esener2009-overview" data-ng-click="changeIndicator($event,indicator.anchor);" data-ng-class="{'active' : 'esener2009-overview' == pIndicator }" >ESENER 2009</a>
        </li>
        <li data-ng-class="{'active' : 'esener2014-overview' == pIndicator }" class="submenu--item">
          <a ui-sref="esener2014-overview" data-ng-click="changeIndicator($event,indicator.anchor);" data-ng-class="{'active' : 'esener2014-overview' == pIndicator }" >ESENER 2014</a>
        </li>
        <!--<li data-ng-class="{'active' : indicator.anchor == pIndicator }" class="submenu--item">
          <a href="" data-ng-click="changeIndicator($event,indicator.anchor);" data-ng-class="{'active' : indicator.anchor == pIndicator }" >ESENER 2019</a>
        </li>-->
      </ul>
    </div>
</section>

<div class="line"></div>

<section class="container-fluid">
    <div class="submenu--block container">
      <ul class="submenu--items--wrapper">
        <!-- INDICATORS -->
        <li data-ng-class="{'active' : 'esener2009-overview' == pIndicator }" class="submenu--item">
          <a href="" data-ng-click="changeIndicator($event,indicator.anchor);" data-ng-class="{'active' : 'esener2009-overview' == pIndicator }">OVERVIEW</a>
        </li>
        <li data-ng-class="{'active' : 'esener2009-datavisualisation' == pIndicator }" class="submenu--item">
          <a href="" data-ng-click="changeIndicator($event,indicator.anchor);" data-ng-class="{'active' : 'esener2009-datavisualisation' == pIndicator }" >DATA VISUALISATION</a>
        </li>
        <li data-ng-class="{'active' : 'esener2009-comparisons' == pIndicator }" class="submenu--item">
          <a href="" data-ng-click="changeIndicator($event,indicator.anchor);" data-ng-class="{'active' : 'esener2009-comparisons' == pIndicator }" >COMPARISONS</a>
        </li>
      </ul>
    </div>
</section>

<section class="container-fluid">
    <div class="container grid-2">
        <div class="col-sm-6 col-xs-12  col-md-6 col-img">
            <a href="#"> <img src="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-esener/static/custom/img/esener2009.png"> </a>
        </div>
        <div class="col-sm-6 col-xs-12  col-md-6 col-content">
            <h2 class="title--section main-color">ESENER 2009</h2>
            <p>The first ESENER, carried out in 2009, involved nearly 36,000 interviews with managers and OSH representatives. All EU Member States were covered, as were Turkey, Norway and Switzerland — 31 countries in all. The interviewees worked in private and public sector organisations with 10 or more employees.</p>
        </div>
    </div>
</section>

<section class="container-fluid">
    <h1 class="text-center">Publications</h1>
    <div class="container grid-2">
        <div class="col-sm-6 col-xs-12  col-md-6 col-content">
            <!-- Title of the accordion -->
            <p class="title--section main-color">Available publications</p>
            <!-- Content of the accordion -->
            <ul>
                <li>
                    <p>European Survey of Enterprises on New and Emerging Risks (ESENER) - Managing safety and health at work (2010): <a href="https://osha.europa.eu/en/tools-and-publications/publications/reports/esener1_osh_management/view">Overview report</a> in English and <a href="https://osha.europa.eu/en/tools-and-publications/publications/reports/en_esener1-summary.pdf/view">Summary</a> in 24 languages</p>
                </li>
                <li>
                    <p><a href="https://osha.europa.eu/sites/default/files/files/en/publications/reports/esener1-summary_data/SEP%20ESENER%20presentation%202009.pptx">Powerpoint presentation</a> providing an overview of the results 2009</p>
                </li>
                <li>
                    <p>ESENER 2009: <a href="http://oshwiki.eu/wiki/ESENER-1_Methodology">http://oshwiki.eu/wiki/ESENER-1_Methodology</a></p>
                </li>
                <li>
                    <p>ESENER 2009 dataset can be accessed via the <a href="http://discover.ukdataservice.ac.uk/?q=esener">UK Data Archive (UKDA) of the University of Essex</a> and <a href="https://search.gesis.org/research_data/ZA6864">GESIS</a>.</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="container grid-2">
        <div class="col-sm-6 col-xs-12  col-md-6 col-content">
            <!-- Title of the accordion -->
            <p class="title--section main-color">Available secondary analyses</p>
            <!-- Content of the accordion -->
            <ul>
                <li>
                    <p>Qualitative post-test evaluation of ESENER (2014): <a href="https://osha.europa.eu/en/tools-and-publications/publications/reports/qualitative-post-test-evaluation-of-esener-overview-report/view">Overview report</a> and <a href="https://osha.europa.eu/en/tools-and-publications/publications/reports/qualitative-post-test-evaluation-of-esener-substantive-findings/view">Substantive findings</a> in English.</p>
                </li>
                <li>
                    <p>Analysis of the determinants of workplace occupational safety and health practice in a selection of EU Member States (2013): <a href="https://osha.europa.eu/en/tools-and-publications/publications/reports/analysis-determinants-workplace-OSH-in-EU/view/">Overview report</a> in English, <a href="https://osha.europa.eu/en/tools-and-publications/publications/reports/summary-analysis-determinants-workplace-OSH-in-EU/view">Executive summary</a> in 8 languages and <a href="https://osha.europa.eu/en/tools-and-publications/publications/reports/annex-analysis-determinants-workplace-OSH-in-EU/view/">Annex</a> in English</p>
                </li>
                <li>
                    <p>A summary of four secondary analysis reports: Understanding workplace management of safety and health, psychosocial risks and worker participation through ESENER (2012): <a href="https://osha.europa.eu/en/tools-and-publications/publications/reports/esener-summary/view">summary</a> in 24 languages</p>
                </li>
                <li>
                    <p>Worker representation and consultation on health and safety - An analysis of the findings of the European Survey of Enterprises on New and Emerging Risks (2012): <a href="https://osha.europa.eu/en/tools-and-publications/publications/reports/esener_workers-involvement/view">Overview report</a> in English and <a href="https://osha.europa.eu/en/tools-and-publications/publications/reports/esener_workers-involvement_annexes/view">Technical Report Annexes 1 and 2</a> in English</p>
                </li>
                <li>
                    <p>Management of occupational safety and health - Analysis of the findings of the ESENER (2012): <a href="https://osha.europa.eu/en/tools-and-publications/publications/reports/management-of-occupational-safety-and-health-analysis-of-data-from-the-esener/view">Overview report</a> and <a href="https://osha.europa.eu/en/tools-and-publications/publications/reports/esener_management_annexes/view">Technical report annexes 1 and 2 in English</a></p>
                </li>
                <li>
                    <p>Management of psychosocial risks at work - An analysis of the findings of the ESENER (2012): <a href="https://osha.europa.eu/en/tools-and-publications/publications/reports/management-psychosocial-risks-esener/view">Overview report</a> and <a href="https://osha.europa.eu/en/tools-and-publications/publications/reports/management-psychosocial-risks-esener-annexes/view">Technical report annexes 1 and 2</a> in English</p>
                </li>
                <li>
                    <p>Drivers and barriers for psychosocial risk management: an analysis of the findings of the ESENER (2012): <a href="https://osha.europa.eu/en/tools-and-publications/publications/reports/drivers-barriers-psychosocial-risk-management-esener/view">Overview report</a> in English</p>
                </li>
            </ul>
        </div>
    </div>
</section>

<!--<section class="container-fluid">
    <div class="container grid-2">
        <div>
            <h1 class="text-center">Publications</h1>
        </div>
        <div class="col-sm-6 col-xs-12  col-md-6 col-content">
            <h2 class="title--section main-color"><a href="esener2014.html">ESENER 2014</a></h2>
            <p>The ﬁeldwork for the second wave of ESENER was carried out in the summer-autumn of 2014. The survey provides an invaluable up-to-date snapshot of how workplace risks, and especially new and emerging risks, are being managed across Europe.</p>
        </div>
    </div>
</section>-->

</dvt-dashboard>
