/*** FOOTEER **/
  .logos-footer{
    background: #F0F0F0;
    display: none;
    .footer-logotypes{
      text-align: center;
      list-style: none;
      display: flex;
      flex-direction: row; 
      flex-wrap: nowrap;
      justify-content: space-between;
      li{
        a{
          img{
            height: 8rem;
            margin:1.5rem;
            padding: 0;

          }
        }
      }
    }
  }
  .footer-elements {
    color: #fff;
    margin: 0 auto;
    width: 100%;
    padding:0.8rem 0 1rem;
    font-weight: 700;
    background: #b1b3b4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .copyright {
      display:block;
      padding-left: 2rem;
      margin: 0.2rem 0 0 0;
      line-height: 4rem;
      //font-family: "Open Sans",sans-serif;
      font-size: 1.4rem;
      color: #57575a;
      width: auto;
    }
    .copyright a {
      color: #57575a;
      &:hover{
        color: $white !important;
      }
    }
    .footer-nav-accessibility {
      margin:1rem 0 0;
      li {
        display: inline-block;
        list-style-type: none;
        padding: 0;
        a{
          font-size: 1.4rem;
          color: #fff!important;    
          font-weight: normal;
          display: inline-block;
          &:hover{
            text-decoration:none;
          }
        }
        &:after{
          content: '   |';
          display: inline;
          font-weight: normal;
        }
        &:last-child{
          &:after{
            content: '';
          }
        }
      }
    }
    .footer-social-network{
      margin:0;
      text-align: right;
      li{
        a{
          color: #FFF;
          font-size: 2.4rem;
          &:hover{

          }
        }
      }
    }
  } 

@media only screen 
and (max-width :1280px) {
  footer{
    .footer-elements{
      flex-direction: column;
      justify-content: center;
      .copyright {
        text-align: center;
      }
      .footer-nav-accessibility {
        text-align: center;
        margin: 1rem auto;
      }
      .footer-social-network{
        text-align: center;
        margin: 1rem auto;
      }
    }
  }
}
@media only screen 
and (max-width :680px) {
  footer{
    .footer-elements{
      .copyright {
      }
      .footer-nav-accessibility {
        li{
          display: block;
          padding: 0.5rem 0;
          &:after{
            content:'';
          }
        }
      }
      .footer-social-network{
      }
    }
  }
}
/*** END FOOTEER **/

.go-to{
  display: none;
  position: fixed;
  z-index: 9000;
  margin: 0;
  bottom: 10rem;
  right: 3px;
  a{
    padding: 0px;
    display: block;
    width: 4rem !important;
    height: 4rem;
    background: #57575A;
    color: #FFF;
    line-height: 1rem;
    margin: 0;
    &:before{
      content: "\f106";
      font-family: FontAwesome;
      font-size: 3rem;
      color: #FFF;
      text-align: center;
      display: block;
      position: relative;
      top:36%;    
    }
    &:hover{
      //color:$black;
      //background:$orange;
    }
  }
}



