.methodology{
	text-align: justify;
	a{
		color:$aquamarine;
	}
	tr.center-text{
		th{
			text-align: center;
		}
	}
	th.center-text{
	text-align: center;
	}
	.data-table{
		td{
		text-align: center;
		}
	}
	.table2{
		thead{
			th{
			text-align: center;
			}
			th:nth-child(1){
			text-align: left;
			}
		}
	}
	.table{
		thead{
			tr{
				background: #f2f2f2;
			}
		}
	}
}

@media only screen 
and (max-width : 425px){
	.table {
	    width: 100%;
	    max-width: 100%;
	    margin-bottom: 18px;
	    margin: auto;
	    border-collapse: collapse;
	    overflow-x: auto;
	    display: block;
	    width: fit-content;
	    max-width: 100%;
	    box-shadow: 0 0 14px 1px rgba(0, 0, 0, .1);
	}
}