
<div data-ng-controller="CookiesController">
    <section id="cookiesConsent" data-ng-if="$consent.hasNotAgreedYet()">
        <div class="text">
            <p data-ng-bind="i18nLiterals.L379"></p>
        </div>
        <div class="buttons">
            <a ui-sref="privacy-policy()"><button data-ng-bind="i18nLiterals.L382"></button></a>
            <button id="consentCookies" data-ng-click="consentDecline();" data-ng-bind="i18nLiterals.L381" class="decline"></button>
            <button id="consentCookies" data-ng-click="$consent.agree(); consentAgree();" data-ng-bind="i18nLiterals.L380" class="accept"></button>
        </div>
    </section>
</div>