	@mixin scale-svg($w, $h) {
	  -ms-transform: scale($w, $h);
	  -webkit-transform: scale($w, $h);
	  -moz-transform: scale($w, $h);
	  transform: scale($w, $h);
	}


@media print {
	.menu-tools-top, 
	.bar-main-menu, 
	.icon--card, 
	.btn--block, .btn--card, .btn-default, 
	//.block--filter--wrapper, 
	.see-more, .see-less, 
	.social--network--nav, 
	.footer-social-network, 
	.footer-nav-accessibility, 
	.question--by--question, 
	.questions--tree, 
	.select2-drop, 
	.questions--list--wrapper, 
	.disabled, 
	.content--lang--wrapper, 
	.social--network--nav, 
	.go-to, 
	#cookiesConsent{
	  display: none !important;
	}
	a[href]:after {
	  content: "";
	  width: 0;
	}
	a[target="_blank"], a[target="blank"]{
    margin-right: 0;
	}
	.matrix--content--elements  samp{
		display: block !important;
	}
	@page {
		size: auto;
		margin: 15mm 25mm 25mm 25mm; 
	}
	html{
		font-size: 8px !important;
	}
	body{
		padding: 0;
	}
	h2{
		font-size: 2.8rem !important;
		margin: 0 0 1.5rem 0;
	}
	h3{
		font-size: 2.2rem !important;
		margin: 0 0 1.2rem 0;
		color: $gray !important;
	}
	.container{
		padding: 0;
		width: 100%;
	}


  /** WIDTH CARDS  **/
    .w2, .w3, .w4, .w4{
      .card--block, .card--block--rounded, .card--block--chart{
        width:100%;
        text-align: left;
        padding: 0rem;
        margin: 0;
        //page-break-inside : avoid;
      }
      .card--block--rounded{
        width:100%;
        text-align: left;
        padding: 0rem;
        margin: 0;
        //page-break-inside : avoid;
      }
      .card--block--chart{
        width:100%;
        text-align: left;
        padding: 0rem;
        margin: 0;
        //page-break-inside : avoid;
      }
    }
  /** END WIDTH CARDS  **/

	.bar-header{
		display: block;
		position: relative !important;
		border-bottom:0px !important;
		height: auto !important;
		.header--top{
			display: block;
			.eu-osha-logo{
				a{
					img{
						height: 15mm;
					}
				}
			}
		}
		&.hide-header{
			top: 0 !important;
		}
	}
	.breadcrumbs--social--network{
		top: 0;
    padding: 1rem 2rem !important;
	} 
	.home-cover{
		border-top: 0px;
		height: auto;
	}
	.carousel--home .carousel-inner {
	  width: 100%;
	  padding: 0;
	  margin: 0px auto;
	  min-height: auto;
	  > .item{
	  	display: block !important;
	  }
	}
	.advice--block{
		top: 0;
		&.advice--block-not-home{
  		padding: 2rem 1.5rem;
		}
		.title--section{
			font-size: 2.4rem;
			font-family: 'Oswald-light';
			margin: 2rem 0;
			padding: 2rem 8rem;
		  border-top: 1px solid $gray-light;
		  border-bottom: 1px solid $gray-light;
			&:before{
				content:'"';
			}
			&:after{
				content:'"';
			}
		}		
	}
	.grid-2{
		margin: 1rem 0;
		.col-img{
			a{
				text-align: center;
				img{
					//width: 50%;
			    margin-top: 2rem;
				}				
			}
		}
		.col-content{
			.title--section{
				margin: 2rem 0;
				padding-top:2rem !important;
			}
		}
	}
	.submenu--level2{
		border: none;
		.submenu--items--wrapper{
			li{
				margin: 1rem 0 !important;
				a{
					padding: 0 !important;
					margin: 0 !important;
					font-size: 3.2rem !important;
    			display: block;
				}
			}
		}
	}
	.level3--wrapper{
		border: none;
		.submenu--level3{
			margin-top: 0 !important;
			.submenu--items--wrapper{
				display: block !important;
				margin: 0 !important;
				li{
					a{
						padding: 0 !important;
						margin: 0 !important;
						font-size: 2.8rem  !important;
						text-align: left;
						display: block;					
					}
				}
			}
		}
	}
	.background-main-light{
		.grid-2{
			display: flex;
			flex-direction: row;
		}
	}
	.background-orange-light{
		.grid-2{
			display: flex;
			flex-direction: row;
		}
	}
	.title-section{
		margin: 1.5rem 0;
	}
	.section--page {
		padding: 0;
	}
	.submenu--items--wrapper{
		li{
			display: none;
			a{
				margin: 2rem 0;
				border-bottom:none !important;
				width: 100%;
				text-align: center;
			}
			&.active{
				display: block;
				width: 100%;
			}
		}
	}
	.overview-page{
		.accordion-content{
			max-height: 100rem;
	    overflow: visible;
		}
		h3.accordion-title{
			&:after{
				content:''!important;
			}
		}
	}
	.card--grid{
		.card--item{
			a{
				height: 6rem !important;
				padding: 0 !important;
			}
			a.icon--card {
			  background-color: #FDEDCC !important;
			  background-size: auto;
			  display: block !important;
			}	
		}
	}
	.datavisualisation-page{
		.section--page{
			margin: 2rem 0;
		}
		.card--grid{
			.card--item{
				a{
					span{
						position: absolute;
						width: 100%;
						text-align: center;
					}
				}
			}
		}
	} 
	.block--typechart--wrapper{
		margin: 0 0 2rem 0;
		.chart--selection--block{
			margin: auto;
			li{
				a{
					&.selected-chart{
						border: 4px solid #000;
					}
				}
			}
		}
	}

	.block--filter--wrapper{
		margin: 2rem 0;
		.filter-text{
			select, #establishment{
				border: none;
				padding: 0 !important;
				outline: 0px!important;		
			}
			> span{
				font-weight: bold;
			}
			&:after{
				content:'' !important;
			}
		}
		.filter-text-button{
			button{
				&.active{
					background: $gray !important;
					color: #FFF !important;
				}
			}
		}
	}
	.detail-page{
    margin-top: 0;
		.detail--page--wrapper {
	    width: 100%;
			.detail--content--section{
				width:100%;
				padding: 0;
				.content--lang--wrapper {
				  position: relative;
				  right: 0;
				  top: 0;
				  width: 100%;
				  text-align: center;
				  margin: 2rem 0;
				}
			}
		}
		div[query="getEuropeanBarCharData"]{
			svg{
				zoom:0.5;
			}
		} 
		div[query="getNationalBarChartData"]{
			svg{
				zoom:0.8;
			}
		} 
	}
	svg{
		page-break-inside : avoid !important;
	}
  .european-bar-chart, 
  .pie-chart{
  	padding:0rem !important;
    svg{
      padding: 0rem;
      zoom:0.6 !important;
    }
  }
  .overview-page{
  	.accordion-content{
    	padding: 0rem 4rem !important;
  	}
  } 

	.footer-elements{
		text-align: center!important;
	}
	.comparisons{
	    margin-top: 2rem;
		 .detail--page--wrapper{
	 	    width: 100% !important;
	 	    .detail--content--section{
					width: 100% !important;
					padding: 0;
					.selector--page--elements{
						.content--intro--wrapper{
							width: 100% !important;
							.datafor--dropdown--wrapper{
								height: 4rem;
							}
							.selected--tags-wrapper{
				        margin-bottom: 2rem !important;
							}
						}
					}
	 	    }
		 }
	}
}


