<dvt-dashboard promises="promises" parameters="dashboard.parameters" class="detail-page">

<section class="container-fluid">
    <!-- Question menu -->
    <div class="col-sm-3 col-xs-12  col-md-3 col-content">
        <div>
            <!-- SEARCH FILTER -->
            <form class="row block--filter--wrapper">
                <!-- SEARCH FILTER -->
                <div class="filter-text">
                    <input data-ng-keypress="clickEnter($event)" ng-focus="closeSelect($event)" id="search-input" type="text" ng-attr-placeholder="{{i18nLiterals.L378}}" data-ng-model="searchText" tabindex="7" />
                    <button data-ng-click="clickEnter($event)"  id="policy-search" ng-attr-type="button">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </div>
            </form>
        </div>

        <!-- Question Hierarchy -->
        <div>
            <ul data-ng-repeat="question in questions">
                <li data-ng-if="question.father_id == null">
                    <span><a href data-ng-bind="i18n['L'+question.name_1]" ng-click="openAccordion($index)"></a></span>
                    <ul data-ng-repeat="questionLevel2 in levelQuestions(2)">
                        <li data-ng-if="questionLevel2.level == 2 && questionLevel2.father_id == question.id">
                            <span data-ng-bind="i18n['L'+questionLevel2.name_1]"></span>
                            <ul data-ng-repeat="questionLevel3 in levelQuestions(3)">
                                <li data-ng-if="questionLevel3.level == 3 && questionLevel3.father_id == questionLevel2.id">
                                    <span data-ng-bind="i18n['L'+questionLevel3.name_1]"></span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
    <!-- Main section -->
    <div class="col-sm-8 col-xs-12  col-md-8 col-content">
        <!-- Breadcrumb and country select -->
        <div class="col-sm-12 col-xs-12  col-md-12 col-content">
            <!-- Title and introduction -->
            <div class="col-sm-9 col-xs-12  col-md-9 col-content">
                <h3 data-ng-if="pIndicator == 'esener2009'" class="title--section second-color" data-ng-bind="i18n.L101007"></h3>
                <h3 data-ng-if="pIndicator == 'esener2014'" class="title--section second-color" data-ng-bind="i18n.L101008"></h3>
                <!-- Breadcrumb -->
                <p data-ng-bind="breadcrumb"></p>
            </div>

            <!-- Country select -->
            <div class="col-sm-3 col-xs-12  col-md-3 col-content">
                <form action="" class="compare--block--form">
                    <label for="search" class="sr-only">“This item is available in other national versions”</label>
                    <select style="width:140px" class="lang-dropdown-select-element form-select" id="lang-dropdown-select-language_content" accesskey="8" title="Language" name="lang_dropdown_select" data-ng-if="pIndicator == 'esener2009'">
                            <!-- Select esener 2009 languages -->
                            <option value="bg">Български</option> <!-- Bulgary -->
                            <option value="cs">Čeština</option>
                            <option value="da">Dansk</option>
                            <option value="de">Deutsch</option>
                            <option value="et">Eesti</option>
                            <option value="el">Ελληνικά</option>
                            <option value="en" selected="selected">English</option>
                            <option value="es">Español</option>
                            <option value="fr">Français</option>
                            <option value="it">Italiano</option>
                            <option value="lv">Latviešu</option>
                            <option value="lt">Lietuvių</option>
                            <option value="hu">Magyar</option>
                            <option value="mt">Malti</option>
                            <option value="nl">Nederlands</option>
                            <option value="no">Norsk</option>
                            <option value="pl">Polski</option>
                            <option value="pt">Português</option>
                            <option value="ro">Română</option>
                            <option value="sk">Slovenčina</option>
                            <option value="sl">Slovenščina</option>
                            <option value="fi">Suomi</option>
                            <!--<option value="tr">Türkçe</option>-->
                    </select>
                    <select style="width:140px" class="lang-dropdown-select-element form-select" id="lang-dropdown-select-language_content" accesskey="8" title="Language" name="lang_dropdown_select" data-ng-if="pIndicator == 'esener2014'">
                        <!-- Select esener 2014 languages -->
                        <option value="al">Albania (AL)</option>
                        <option value="at">Austria (AT)</option>
                        <option value="fr">Belgium (FR)</option>
                        <option value="nl">Belgium (NL)</option>
                        <option value="bg">Bulgaria (BG)</option>
                        <option value="cy">Croatia (CY)</option>
                        <option value="cz">Cyprus (CZ)</option>
                        <option value="dk">Denmark (DK)</option>
                        <option value="ee">Estonia (EE)</option>
                        <option value="ru">Estonia (RU)</option>
                        <option value="fi">Finland (FI)</option>
                        <option value="se">Finland (SE)</option>                    
                        <option value="fr">France (FR)</option>                        
                        <option value="al">FYROM (AL)</option>
                        <option value="mk">FYROM (MK)</option>
                        <option value="de">Germany (DE)</option>
                        <option value="el">Greece (EL)</option>
                        <option value="is">Iceland (IS)</option>
                        <option value="ie">Ireland (IE)</option>
                        <option value="it">Italy (IT)</option>
                        <option value="hu">Hungary (HU)</option>
                        <option value="lv">Latvia (LV)</option>
                        <option value="ru">Latvia (RU)</option>
                        <option value="lt">Lithuania (LT)</option>
                        <option value="ru">Lithuania (RU)</option>
                        <option value="de">Luxembourg (DE)</option>
                        <option value="fr">Luxembourg (FR)</option>
                        <option value="lu">Luxembourg (LU)</option>
                        <option value="en">Malta (EN)</option>
                        <option value="mt">Malta (MT)</option>
                        <option value="me">Montenegro (ME)</option>
                        <option value="nl">Nederlands (NL)</option>
                        <option value="no">Norway (NO)</option>
                        <option value="pl">Poland (PL)</option>
                        <option value="pt">Portugal (PT)</option>
                        <option value="ro">Romania (RO)</option>
                        <option value="rs">Serbia (RS)</option>
                        <option value="sk">Slovakia (SK)</option>
                        <option value="sl">Slovenia (SL)</option>
                        <option value="es">Spain (ES)</option>
                        <option value="se">Sweden (SE)</option>
                        <option value="de">Switzerland (DE)</option>
                        <option value="fr">Switzerland (FR)</option>
                        <option value="it">Switzerland (IT)</option>
                        <option value="tr">Turkey (TR)</option>
                        <option value="en" selected="selected">United Kingdom (UK)</option>
                    </select>
                </form>
            </div>
        </div>

        <!-- Map section and indicator selection -->
        <div class="col-sm-12 col-xs-12  col-md-12 col-content">
            <!-- Question title -->
            <h3 class="title--section main-color">Tiring or painful positions, including sitting for long periods</h3>
            <p>
                Depending on the type of work there are different types of risks and hazards. Please tell me for each of the following risk factors whether it is present or not in your establishment, regardless of whether it is currently under control and
                regardless of the number of employees it affects. Tiring or painful positions, including sitting for long periods.
            </p>

            <p>(1) Yes (2) No (9) No answer</p>

            <p>Select</p>

            <div>
                <form class="row block--filter--wrapper">
                    <!-- Activity sector -->
                    <div class="filter-text">
                        <select id="datafor" class="" ng-model="pCountry" ng-selected="pCountry" ng-change="countryChange()">
                            <!--<option data-ng-repeat='country in countriesDataFor' data-ng-bind="('(')+(country.country_code)+(') ')+(i18nLiterals['L'+country.country])" value="{{::country.country_code}}"></option>-->
                            <option value="AT">Activity Sector</option>
                            <option value="BE">Belgium (BE)</option>
                        </select>
                    </div><span> OR </span>
                    <!-- Establishment size -->
                    <div class="filter-text">
                        <select id="datafor" class="" ng-model="pCountry" ng-selected="pCountry" ng-change="countryChange()">
                            <!--<option data-ng-repeat='country in countriesDataFor' data-ng-bind="('(')+(country.country_code)+(') ')+(i18nLiterals['L'+country.country])" value="{{::country.country_code}}"></option>-->
                            <option value="AT">Establishment size</option>
                            <option value="BE">Belgium (BE)</option>
                        </select>
                    </div>
                    <!-- Country -->
                    <div class="filter-text">
                        <select id="datafor" class="" ng-model="pCountry" ng-selected="pCountry" ng-change="countryChange()">
                            <!--<option data-ng-repeat='country in countriesDataFor' data-ng-bind="('(')+(country.country_code)+(') ')+(i18nLiterals['L'+country.country])" value="{{::country.country_code}}"></option>-->
                            <option value="AT">Country</option>
                            <option value="BE">Belgium (BE)</option>
                        </select>
                    </div>
                </form>
            </div>

            <hr>

            <!-- Select split answers -->
            <div>
                <form class="row block--filter--wrapper">
                    <!-- Answer -->
                    <div class="filter-text">
                        <select id="datafor" class="" ng-model="pCountry" ng-selected="pCountry" ng-change="countryChange()">
                            <!--<option data-ng-repeat='country in countriesDataFor' data-ng-bind="('(')+(country.country_code)+(') ')+(i18nLiterals['L'+country.country])" value="{{::country.country_code}}"></option>-->
                            <option value="AT">Yes</option>
                            <option value="">No</option>
                            <option value="">No answer</option>
                        </select>
                    </div>
                    <!-- Chart selection -->
                    <div class="filter-text">
                        <a href>European map</a>
                        <a href>European bar chart</a>
                        <a href>National bar chart</a>
                        <a href>National comparisons</a>
                        <a href>Pie chart</a>
                        <a href>EU Only</a>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
</section>

</dvt-dashboard>
