<dvt-dashboard promises="promises" parameters="dashboard.parameters" class="detail-page">

<section class="container-fluid">
    <!-- Question menu -->
    <div class="col-sm-3 col-xs-12  col-md-3 col-content">
        <div>
            <!-- SEARCH FILTER -->
            <form class="row block--filter--wrapper">
                <!-- SEARCH FILTER -->
                <div class="filter-text">
                    <!--<input data-ng-keypress="clickEnter($event)" ng-focus="closeSelect($event)" id="search-input" type="text" ng-attr-placeholder="{{i18n.L378}}" data-ng-model="searchText" tabindex="7" />
                    <button data-ng-click="clickEnter($event)"  id="policy-search" ng-attr-type="button">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>-->
                    <dvt-select data-ng-cloak ng-model="pQuestion" parameter="pQuestion" params="[['pYear', 'pYear'], ['pLocale', pLocale]]"
                      listen-to="['pYear', 'pQuestion']" query="getQuestions"
                      cda="{{cdaEsenerDash}}"
                      data-ng-change="changeToQuestion(pQuestion)">
                    </dvt-select>
                </div>
            </form>
        </div>

        <!-- Question Hierarchy -->
        <div>
            <!-- First level -->
            <ul data-ng-repeat="question in questions">
                <li data-ng-if="question.father_id == null">
                    <span><a href data-ng-bind="i18n['L'+question.name_1]" data-ng-click="openAccordion($index)" data-ng-class="{'open': pTopic == question.anchor}"></a>V</span>
                    <!-- Second level -->
                    <ul data-ng-repeat="questionLevel2 in levelQuestions(2)">
                        <li data-ng-if="questionLevel2.level == 2 && questionLevel2.father_id == question.id">
                            <span>
                                <a data-ng-bind="i18n['L'+questionLevel2.name_1]" href data-ng-click="changeToQuestion(questionLevel2.category)" data-ng-class="{'selected': questionLevel2.category == pQuestion}"></a>
                                <span data-ng-if="questionLevel2.category == null">V</span>
                            </span>
                            <!-- Third level -->
                            <ul data-ng-repeat="questionLevel3 in levelQuestions(3)">
                                <li data-ng-if="questionLevel3.level == 3 && questionLevel3.father_id == questionLevel2.id">
                                    <span>
                                        <a data-ng-bind="i18n['L'+questionLevel3.name_1]" href data-ng-click="changeToQuestion(questionLevel3.category)" data-ng-class="{'selected': questionLevel3.category == pQuestion}"></a>
                                    </span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- DOWNLOAD QUESTIONNARIE -->
            <ul>
                <li id="surveyMenuItem" class="active-trail finalquestion"><a href="/DVS/import/questionnaire/{{pLanguage}}_QUESTIONNAIRE.rar" target="_blank" data-ng-bind="i18n.L100625"></a></li>
                <li data-ng-if="pIndicator == 2009" id="surveyMenuItem" class="active-trail finalquestion">
                  <a href="
                  /pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-esener/static/custom/modules/vertical/survey/detailpage/questionnaries/2009/{{pLocale.toUpperCase()}}_QUESTIONNAIRE.zip" target="_blank" data-ng-bind="i18n.L100625" title="Download questionnaire"></a>
                </li>
                <li data-ng-if="pIndicator == 2014" id="surveyMenuItem" class="active-trail finalquestion">
                  <a href="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-esener/static/custom/modules/vertical/survey/detailpage/questionnaries/2014/Questionnaire_{{pLocale.toUpperCase()}}.pdf" target="_blank" data-ng-bind="i18n.L100625" title="Download questionnarie"></a>
                </li>
            </ul>
        </div>
    </div>

    <!-- Main section -->
    <div class="col-sm-8 col-xs-12  col-md-8 col-content">

        <selector indicator="{{pQuestion}}" ng-model="dashboard.parameters.pFilters"></selector>
        <button data-ng-click="showFilters()">SHOW FILTERS</button>

        <!-- EUROPEAN MAP -->
        <div class="" data-ng-show="pChart == 'european-map'">
          <!--<p ng-repeat="value in selectedQuestionValues">
              <span data-ng-bind="value.country_code"></span>: <span data-ng-bind="value.answer"></span>
          </p>-->
          <section class="survey--map--block">
              <div class="map--block center-text container">
                <dvt-map ng-cloak
                    country-key="EU" promise="dataPromises"
                    country="EU" use-viewbox="true" x="0" y="0"
                    css-class="dvt--map--block" is-colored="1" hover="true"
                    group-list="groupList" width="500" height="500"
                    group-color="groupColor" listen-to="['pFilters']"
                    data="data">
                </dvt-map>
              </div>
              <div class="map--gauss--block container">
                	<dvt-bar-chart
                    data-ng-cloak
                    query="getGaussChartValues" cda="{{::cdaEsenerDash }}"
                    width="200" height="200" type="lines"
                    orientation="vertical" axis-fixed-min="0"
                    listen-to="['pFilters', minMaxValues.min_value, minMaxValues.max_value, minMaxValues.range_value]"
                    axis-fixed-max="20" step="{{step.chart1}}"
                    params="[['pDataset', actualDataset], ['pQuestion', pQuestion], ['pMinValue', minMaxValues.min_value], ['pMaxValue', minMaxValues.max_value], ['pRange', minMaxValues.range_value], ['pSectorSize', pSectorSize], ['pActivityFilter', 'pFilters.activitySector'], ['pCompanyFilter', 'pFilters.establishmentSize'], ['pAnswer', 'pFilters.answer'], ['pEuOnly', 'pFilters.euOnly']]"
                    color-role="category" colors="[stories[0].color1]" id="1"
                    axis-label-font="14px 'OpenSans-bold'"
                    plots="stories[0].plots"
                    values-visible="false"
                    values-font="14px 'OpenSans-bold'"
                    hoverable="false"
                    ortho-axis-grid="false"
                    ortho-axis-visible="false"
                    dimensions="stories[0].dimensions"
                    multiple-label-colors="true"
                    base-axis-label-text-baseline="top"
                    axis-color="true"
                    panel-color="#FFFFFF"
                    legend="false"
                    is-maximized="true"
                    tooltip-enabled="false"
                    clickable="false" 
                    base-axis-size="25"
                	></dvt-bar-chart> 
              </div>
          </section>
        </div>

        <!-- EUROPEAN BAR CHART -->
        <div class="" data-ng-show="pChart == 'european-bar-chart'">
          <!---------------------- EuropeanBarChart ESENER 2014 ------------------------>
          <div class="xxs-w1 xs-w1 w1 center-text">
              <div class="card--block--chart">
                  <!------------ActivitySector------------>
                  <div class="chart--block">
                      <dvt-bar-chart
                        data-ng-cloak
                        query="getEuropeanBarCharData" cda="{{::cdaEsenerDash}}"
                        width="330" height="660" axis-percent="1"
                        orientation="vertical" axis-fixed-min="0"
                        axis-fixed-max="100" step="20"
                        listen-to="['pFilters']"
                        params="[['pDataset',actualDataset],['pIndicator',pQuestion],['pActivityFilter', 'pFilters.activitySector'], ['pCompanyFilter', 'pFilters.establishmentSize'],['pEUOnly', 'pFilters.euOnly']]"
                        color-role="series"
                        id="2"
                        axis-label-font="14px 'OpenSans-bold'"
                        plots="stories[1].plots"
                        values-visible="false"
                        values-font="14px 'OpenSans-bold'"
                        multiple-label-colors="false"
                        base-axis-label-text-baseline=""
                        leaf-content-overflow='visible'
                        dimensions="stories[1].dimensions"
                        legend="true" is-maximized="false"
                        angle="-1.57" stacked="1"
                        base-axis-size="100"
                        datasource-and-dates="[15,110,pActivityFilter]"
                      ></dvt-bar-chart>
                  </div>
              </div>
          </div>
        </div>

        <!-- NATIONAL BAR CHART -->
        <div class="" data-ng-show="pChart == 'national-bar-chart'">
          <div class="xxs-w1 xs-w1 w1 center-text">
              <div class="card--block--chart">
                  <div class="chart--block">
                      <dvt-bar-chart
                        data-ng-cloak
                        query="getNationalBarChartData" cda="{{::cdaEsenerDash}}"
                        width="330" height="660" axis-percent="1"
                        orientation="horizontal" axis-fixed-min="0"
                        axis-fixed-max="100" step="20"
                        listen-to="['pFilters']"
                        params="[['pDataset',actualDataset],['pQuestion',pQuestion],['pYear', pIndicator],['pSectorSize', 'pFilters.sectorSize'],['pCountry', 'pFilters.country']]"
                        color-role="series" colors="[stories[2].color1, stories[2].color2, stories[2].color3, stories[2].color4,
                        stories[2].color5]"
                        id="3" axis-label-font="14px 'OpenSans-bold'"
                        plots="stories[2].plots" values-overflow="show"
                        values-visible="true" values-mask="{value}"                        
                        label-text-align="stories[2].alignment"
                        values-font="14px 'OpenSans-bold'"
                        multiple-label-colors="false"
                        leaf-content-overflow='visible'
                        ortho-axis-visible="true"
                        base-axis-position="bottom"
                        dimensions="stories[2].dimensions"
                        legend="true" is-maximized="false"
                        datasource-and-dates="[15,110,pActivityFilter]"
                      ></dvt-bar-chart>
                  </div>
              </div>
          </div>
        </div>
  </div>

</section>
</dvt-dashboard>