<div class="">            
	<!-- Title and introduction -->
    <div class="content--intro--wrapper">
        <h1 data-ng-if="dataset == '2009'" class="title--section second-color" data-ng-bind="i18n.L101007"></h1>
        <h1 data-ng-if="dataset == '2014'" class="title--section second-color" data-ng-bind="i18n.L101008"></h1>
        <!-- Breadcrumb -->        
		<p data-ng-bind="question.breadcrumb"></p>
        <ul class="question--by--question">
            <li><a data-ng-click="changeQuestion(question.previousID)" title="question.previous" data-ng-bind="question.previous"></a></li>
            <li><a data-ng-click="changeQuestion(question.nextID)" title="question.next" data-ng-bind="question.next"></a></li>
        </ul> 
    </div>

    <div class="content--lang--wrapper">
        <!-- National version select -->
        <div class="national-version-select">
            <form action="" class="compare--block--form">
                <label for="search" class="" data-ng-bind="i18n.L101032"></label>
                <div data-ng-show="dataset == '2009'">
                    <select style="width:140px" class="lang-dropdown-select-element form-select" id="lang-dropdown-select-language_content" accesskey="8" title="Language" name="lang_dropdown_select" data-ng-change="changeLocale()" data-ng-model="pLocale">
                            <!-- Select esener 2009 languages -->
                            <option value="bg" data-ng-selected="pLocale == 'bg'">Български</option> <!-- Bulgary -->
                            <option value="cs">Čeština</option>
                            <option value="da">Dansk</option>
                            <option value="de">Deutsch</option>
                            <option value="et">Eesti</option>
                            <option value="el">Ελληνικά</option>
                            <option value="en" data-ng-selected="pLocale == 'en'">English</option>
                            <option value="es" data-ng-selected="pLocale == 'es'">Español</option>
                            <option value="fr">Français</option>
                            <option value="it">Italiano</option>
                            <option value="lv">Latviešu</option>
                            <option value="lt">Lietuvių</option>
                            <option value="hu">Magyar</option>
                            <option value="mt">Malti</option>
                            <option value="nl">Nederlands</option>
                            <option value="no">Norsk</option>
                            <option value="pl">Polski</option>
                            <option value="pt">Português</option>
                            <option value="ro">Română</option>
                            <option value="sk">Slovenčina</option>
                            <option value="sl">Slovenščina</option>
                            <option value="fi">Suomi</option>
                            <!--<option value="tr">Türkçe</option>-->
                    </select>
                </div>
                <div data-ng-show="dataset == '2014'">
                    <select style="width:140px" class="lang-dropdown-select-element form-select" id="lang-dropdown-select-language_content" accesskey="8" title="Language" name="lang_dropdown_select" data-ng-if="dataset == '2014'" data-ng-change="changeLocale()" data-ng-model="pLocale">
                        <!-- Select esener 2014 languages -->
                        <option value="al">Albania (AL)</option>
                        <option value="at">Austria (AT)</option>
                        <option value="fr">Belgium (FR)</option>
                        <option value="nl">Belgium (NL)</option>
                        <option value="bg">Bulgaria (BG)</option>
                        <option value="cy">Croatia (CY)</option>
                        <option value="cz">Cyprus (CZ)</option>
                        <option value="dk">Denmark (DK)</option>
                        <option value="ee">Estonia (EE)</option>
                        <option value="ru">Estonia (RU)</option>
                        <option value="fi">Finland (FI)</option>
                        <option value="se">Finland (SE)</option>                    
                        <option value="fr">France (FR)</option>                        
                        <option value="al">FYROM (AL)</option>
                        <option value="mk">FYROM (MK)</option>
                        <option value="de">Germany (DE)</option>
                        <option value="el">Greece (EL)</option>
                        <option value="is">Iceland (IS)</option>
                        <option value="ie">Ireland (IE)</option>
                        <option value="it">Italy (IT)</option>
                        <option value="hu">Hungary (HU)</option>
                        <option value="lv">Latvia (LV)</option>
                        <option value="ru">Latvia (RU)</option>
                        <option value="lt">Lithuania (LT)</option>
                        <option value="ru">Lithuania (RU)</option>
                        <option value="de">Luxembourg (DE)</option>
                        <option value="fr">Luxembourg (FR)</option>
                        <option value="lu">Luxembourg (LU)</option>
                        <option value="en">Malta (EN)</option>
                        <option value="mt">Malta (MT)</option>
                        <option value="me">Montenegro (ME)</option>
                        <option value="nl">Nederlands (NL)</option>
                        <option value="no">Norway (NO)</option>
                        <option value="pl">Poland (PL)</option>
                        <option value="pt">Portugal (PT)</option>
                        <option value="ro">Romania (RO)</option>
                        <option value="rs">Serbia (RS)</option>
                        <option value="sk">Slovakia (SK)</option>
                        <option value="sl">Slovenia (SL)</option>
                        <option value="es">Spain (ES)</option>
                        <option value="se">Sweden (SE)</option>
                        <option value="de">Switzerland (DE)</option>
                        <option value="fr">Switzerland (FR)</option>
                        <option value="it">Switzerland (IT)</option>
                        <option value="tr">Turkey (TR)</option>
                        <option value="en">United Kingdom (UK)</option>
                    </select>
                </div>
                
            </form>
        </div>      
    </div>


    <!-- Chart section and indicator selection -->
    <div class="content--introchart--wrapper">
        <!-- Question title -->
        <h2 class="title-question main-color" data-ng-bind="question.name"></h2>
        <p  class="description--question" data-ng-bind-html="question.description"></p>
    </div>

    <div class="content--filter--wrapper">  
        <div data-ng-if="chart=='european-map' || chart=='european-bar-chart'">
			<p class="tags">
	        	<span  data-ng-bind="i18n.L101026"></span> 
	        	<span  data-ng-bind="i18n.L100573"></span> 
	        	<span  data-ng-bind="i18n.L101027"></span> 
	        	<span  data-ng-bind="i18n.L100574"></span> 
	        </p>
            <form class="block--filter--wrapper">
                <!-- Activity sector -->
                <div class="filter-text activity-sector">
                    <select id="sector" class="" data-ng-change="updateChart('activitySector')" data-ng-model="filters.activitySector">
                        <option data-ng-repeat='sector in activitySectors' data-ng-value="sector.id" data-ng-bind="i18n['L'+sector.literal]" data-ng-selected="sector.id == filters.activitySector || ($index == 0 && filters.activitySector == 0)"></option>
                    </select>
                </div>
                <!-- Establishment size -->
                <div class="filter-text establishment-size">
                    <select id="establishment" class="" data-ng-change="updateChart('establishmentSize')" data-ng-model="filters.establishmentSize">
                        <option data-ng-repeat='size in establishmentSizes' data-ng-value="size.id" data-ng-bind="i18n['L'+size.literal]" data-ng-selected="size.id == filters.establishmentSize || ($index == 0 && filters.establishmentSize == 0)"></option>
                    </select>
                </div>
                <!-- Country -->
                <div class="filter-text country-items">
                    <select id="datafor" class="" disabled>                 	
                    	<option value="" data-ng-bind="i18n.L100589" data-ng-selected="true" disabled></option>
                    </select>
                </div>
            </form>
        </div>

        <div data-ng-if="chart=='national-bar-chart'">
            <p data-ng-bind="i18n.L101026"></p>
			<form class="block--filter--wrapper">                
                <!-- Activity sector -->
                <div class="filter-text-button">
                    <button data-ng-bind="i18n.L100573" data-ng-click="updateChart('companyToActivity')"></button>
                    <span data-ng-bind="i18n.L101027"></span> 
                </div>	        	
                <!-- Establishment size -->
                <div class="filter-text-button">
                    <button data-ng-bind="i18n.L100574" data-ng-click="updateChart('activityToCompany')"></button>
                </div>
                <!-- Country -->
                <div class="filter-text-button">
                    <label data-ng-bind="i18n.L100589"></label> 
                    <select id="datafor" data-ng-change="updateChart('country')" data-ng-model="filters.country">
                        <option data-ng-repeat='country in countries' data-ng-value="country.id" data-ng-bind="country.literal" data-ng-selected="country.id == filters.country"></option>
                    </select>
                </div>
            </form>
        </div>
    <hr>
        <!-- Select split answers and charts -->
        <div>
            <form class="block--typechart--wrapper">
                <!-- Answer selection -->
                <!-- Hidden until necessary -->
                <!--<div class="filter-text" data-ng-if="chart == 'european-map'">
                    <select id="datafor" class="" ng-model="filters.answer" ng-change="updateChart('answer')">
                    	<option data-ng-repeat='answer in answers' value="answer.id" data-ng-bind="i18n['L'+answer.literal]" data-ng-selected="answer.id == filters.answer"></option>
                    </select>
                </div>-->
                <!-- Chart selection -->
                <ul class="chart--selection--block">
                    <li>
                        <a class="" data-ng-class="{'selected-chart':(chart == 'european-map')}" ui-sref="detailpage({pChart: 'european-map'})"><span class="sr-only"  data-ng-bind="i18n.L100623"></span></a></li>
                    <li>
                        <a class="" data-ng-class="{'selected-chart':(chart == 'european-bar-chart')}" ui-sref="detailpage({pChart: 'european-bar-chart'})"><span class="sr-only"  data-ng-bind="i18n.L100622"></span></a>
                    </li>
                    <li>
                        <a class="" data-ng-class="{'selected-chart':(chart == 'national-bar-chart')}" ui-sref="detailpage({pChart: 'national-bar-chart', pSectorSize: filters.sectorSize, pCountry: filters.country})" ><span class="sr-only"  data-ng-bind="i18n.L100624"></span></a>
                    </li>
                    <li>
                        <a href ><span class="sr-only"  data-ng-bind="i18n.L100621"></span></a>
                    </li>
                    <!--<li><a ui-sref="detailpage({pChart: 'national-comparisons'})" ><span class="sr-only"  data-ng-bind="i18n.L100621"></span></a></li>-->
                    <li>
                        <a href ><span class="sr-only"  data-ng-bind="i18n.L101033"></span></a>
                    </li>
                    <!--<li><a ui-sref="detailpage({pChart: 'pie-chart'})" ><span class="sr-only"  data-ng-bind="i18n.L101033"></span></a></li>-->
                    <li>
                        <a data-ng-class="{'selected-chart':(noneu == 1)}" href data-ng-if="chart=='european-map' || chart=='european-bar-chart'" data-ng-click="updateChart('euOnly')" data-ng-bind="i18n.L100679"></a>
                    </li> 
                </ul>
            </form>
        </div>        
    </div>
	
</div>