<div class="">            
	<!-- Title and introduction -->
    <div class="content--intro--wrapper">
        <h1 data-ng-if="dataset == '2009'" class="title--section second-color" data-ng-bind="i18n.L101007"></h1>
        <h1 data-ng-if="dataset == '2014'" class="title--section second-color" data-ng-bind="i18n.L101008"></h1>
        <!-- Breadcrumb -->        
		<p data-ng-bind-html="question.breadcrumb"></p>
        <ul class="question--by--question">
            <li><a data-ng-click="changeQuestion(question.previousID, 'p')" title="{{isNull(question.previous, 'p')}}" data-ng-bind="trim(question.previous, 'p')"></a></li>
            <li><a data-ng-click="changeQuestion(question.nextID, 'n')" title="{{isNull(question.next, 'n')}}" data-ng-bind="trim(question.next, 'n')"></a></li>
        </ul>
    </div>

    <div class="content--lang--wrapper">
        <!-- National version select -->
        <div class="national-version-select">
            <form action="" class="compare--block--form">
                <label for="searchFilter" class="" data-ng-bind="i18n.L101032"></label>
                <div data-ng-show="dataset == '2009'" id="searchFilter">
                    <select style="width:140px" class="lang-dropdown-select-element form-select" id="lang-dropdown-select-language_content" accesskey="8" title="Language" name="lang_dropdown_select" data-ng-change="changeLocale()" data-ng-model="pLocale">
                            <!-- Select esener 2009 languages -->
                            <option value="bg" data-ng-selected="pLocale == 'bg'">Български</option> <!-- Bulgary -->
                            <option value="cs" data-ng-selected="pLocale == 'cs'">Čeština</option>
                            <option value="da" data-ng-selected="pLocale == 'da'">Dansk</option>
                            <option value="de" data-ng-selected="pLocale == 'de'">Deutsch</option>
                            <option value="et" data-ng-selected="pLocale == 'et'">Eesti</option>
                            <option value="el" data-ng-selected="pLocale == 'el'">Ελληνικά</option>
                            <option value="en" data-ng-selected="pLocale == 'en'">English</option>
                            <option value="es" data-ng-selected="pLocale == 'es'">Español</option>
                            <option value="fr" data-ng-selected="pLocale == 'fr'">Français</option>
                            <option value="it" data-ng-selected="pLocale == 'it'">Italiano</option>
                            <option value="lv" data-ng-selected="pLocale == 'lv'">Latviešu</option>
                            <option value="lt" data-ng-selected="pLocale == 'lt'">Lietuvių</option>
                            <option value="hu" data-ng-selected="pLocale == 'hu'">Magyar</option>
                            <option value="mt" data-ng-selected="pLocale == 'mt'">Malti</option>
                            <option value="nl" data-ng-selected="pLocale == 'nl'">Nederlands</option>
                            <option value="no" data-ng-selected="pLocale == 'no'">Norsk</option>
                            <option value="pl" data-ng-selected="pLocale == 'pl'">Polski</option>
                            <option value="pt" data-ng-selected="pLocale == 'pt'">Português</option>
                            <option value="ro" data-ng-selected="pLocale == 'ro'">Română</option>
                            <option value="sk" data-ng-selected="pLocale == 'sk'">Slovenčina</option>
                            <option value="sl" data-ng-selected="pLocale == 'sl'">Slovenščina</option>
                            <option value="sv" data-ng-selected="pLocale == 'sv'">Svenska</option>
                            <option value="fi" data-ng-selected="pLocale == 'fi'">Suomi</option>
                            <option value="tr" data-ng-selected="pLocale == 'tr'">Türkçe</option>
                    </select>
                </div>
                <div data-ng-show="dataset == '2014'">
                    <select style="width:140px" class="lang-dropdown-select-element form-select" id="lang-dropdown-select-language_content" accesskey="8" title="Language" name="lang_dropdown_select" data-ng-change="changeLocale()" data-ng-model="pLocale">
                        <!-- Select esener 2014 languages -->
                        <option value="al">Albania (AL)</option>
                        <option value="de_1">Austria (AT)</option>
                        <option value="fr_1">Belgium (FR)</option>
                        <option value="nl_1">Belgium (NL)</option>
                        <option value="bg">Bulgaria (BG)</option>
                        <option value="hr">Croatia (HR)</option>
                        <option value="el_1">Cyprus (CY)</option>
                        <option value="cs">Czech Republic (CZ)</option>
                        <option value="da">Denmark (DK)</option>
                        <option value="et">Estonia (EE)</option>
                        <option value="ru_1">Estonia (RU)</option>
                        <option value="fi">Finland (FI)</option>
                        <option value="sv_1">Finland (SE)</option>                    
                        <option value="fr">France (FR)</option>                        
                        <option value="al_1">FYROM (AL)</option>
                        <option value="mk">FYROM (MK)</option>
                        <option value="de">Germany (DE)</option>
                        <option value="el">Greece (EL)</option>
                        <option value="hu">Hungary (HU)</option>
                        <option value="is">Iceland (IS)</option>
                        <option value="en_1">Ireland (IE)</option>
                        <option value="it">Italy (IT)</option>
                        <option value="lv">Latvia (LV)</option>
                        <option value="ru_2">Latvia (RU)</option>
                        <option value="lt">Lithuania (LT)</option>
                        <option value="ru_3">Lithuania (RU)</option>
                        <option value="de_2">Luxembourg (DE)</option>
                        <option value="fr_2">Luxembourg (FR)</option>
                        <option value="lu">Luxembourg (LU)</option>
                        <option value="en_2">Malta (EN)</option>
                        <option value="mt">Malta (MT)</option>
                        <option value="me">Montenegro (ME)</option>
                        <option value="nl">Netherlands (NL)</option>
                        <option value="no">Norway (NO)</option>
                        <option value="pl">Poland (PL)</option>
                        <option value="pt">Portugal (PT)</option>
                        <option value="ro">Romania (RO)</option>
                        <option value="sr">Serbia (RS)</option>
                        <option value="sk">Slovakia (SK)</option>
                        <option value="sl">Slovenia (SL)</option>
                        <option value="es">Spain (ES)</option>
                        <option value="sv">Sweden (SE)</option>
                        <option value="de_3">Switzerland (DE)</option>
                        <option value="fr_3">Switzerland (FR)</option>
                        <option value="it_1">Switzerland (IT)</option>
                        <option value="tr">Turkey (TR)</option>
                        <option value="en">United Kingdom (UK)</option>
                    </select>
                </div>
                
            </form>
        </div>      
    </div>


    <!-- Chart section and indicator selection -->
    <div class="content--introchart--wrapper">
        <!-- Question title -->
        <h2 class="title-question main-color" data-ng-bind="question.name"></h2>
        <p  class="description--question" data-ng-bind-html="question.description"></p>
    </div>

    <div class="content--filter--wrapper">  
        <div data-ng-if="chart!='national-bar-chart'">
			<!--<p class="tags">
	        	<span data-ng-bind="i18n.L101026"></span>
	        	<span class="activity-sector" data-ng-bind="i18n.L100573"></span> 
	        	<span class="or" data-ng-bind="i18n.L101027"></span>
	        	<span class="establishment-size" data-ng-bind="i18n.L100574"></span> 
	        </p> -->
             <p data-ng-if="chart != 'pie-chart'" data-ng-bind="i18n.L101026" ></p>  
            <form class="block--filter--wrapper" data-ng-class="{'national-comparisons-wrapper':(chart == 'national-comparisons')}">
                <!-- Activity sector -->
                <div data-ng-class="{'active':(filters.sectorSize == 'activity-sector')}" class="filter-text activity-sector" data-ng-if="chart != 'national-comparisons' && chart != 'pie-chart'">
                    <label for="sector" class="activity-sector" data-ng-bind="i18n.L100573" ></label> 
                    <select id="sector" class="" ng-change="updateChart('activitySector')" ng-model="filters.activitySector" ng-selected="filters.activitySector" data-ng-class="{'disabled':(chart == 'pie-chart')}" data-ng-disabled="chart == 'pie-chart'">
                        <!--<option data-ng-bind="i18n.L100573" data-ng-value="0" data-ng-selected="chart == 'pie-chart'"></option>-->
                        <option data-ng-repeat='sector in activitySectors' value="{{sector.id}}" data-ng-bind="i18n['L'+sector.literal]"></option>
                    </select>
                </div>
                <span data-ng-if="chart != 'national-comparisons' && chart != 'pie-chart'" class="or-text" data-ng-bind="i18n.L101027"></span>
                <!-- Establishment size -->
                <div data-ng-class="{'active':(filters.sectorSize == 'company-size')}" class="filter-text establishment-size" data-ng-if="chart != 'national-comparisons' && chart != 'pie-chart'">
                    <label for="establishment" class="establishment-size" data-ng-bind="i18n.L100574"></label> 
                    <select id="establishment" class="" ng-change="updateChart('establishmentSize')" ng-model="filters.establishmentSize" ng-selected="filters.establishmentSize">
                        <option data-ng-repeat='size in establishmentSizes' value="{{size.id}}" data-ng-bind="i18n['L'+size.literal]"></option>
                    </select>
                </div>


                <!-- Activity sector for national comparison -->
                <div class="filter-text activity-sector filter-national-comparisons" data-ng-if="chart == 'national-comparisons'" data-ng-class="{'active':(filters.sectorSize == 'activity-sector')}">
                    <label for="sector" class="activity-sector" data-ng-bind="i18n.L100573" ></label> 
                    <select id="sector" class="" ng-change="updateChart('activitySector')" ng-model="filters.activitySector" ng-selected="filters.activitySector" data-ng-class="{'disabled':(chart == 'pie-chart')}" data-ng-disabled="chart == 'pie-chart'">
                        <!--<option data-ng-bind="i18n.L100573" data-ng-value="0" data-ng-selected="chart == 'pie-chart'"></option>-->
                        <option data-ng-repeat='sector in activitySectors' value="{{sector.id}}" data-ng-bind="i18n['L'+sector.literal]"></option>
                    </select>
                </div>
                <span data-ng-if="chart == 'national-comparisons' && chart != 'pie-chart'" class="or-text" data-ng-bind="i18n.L101027"></span>
                <!-- Establishment size for national comparison -->
                <div class="filter-text establishment-size filter-national-comparisons" data-ng-if="chart == 'national-comparisons'" data-ng-class="{'active':(filters.sectorSize == 'company-size')}">
                  <label for="establishment" class="establishment-size" data-ng-bind="i18n.L100574"></label> 
                    <select id="establishment" class="" ng-change="updateChart('establishmentSize')" ng-model="filters.establishmentSize" ng-selected="filters.establishmentSize">
                        <option data-ng-repeat='size in establishmentSizes' value="{{size.id}}" data-ng-bind="i18n['L'+size.literal]"></option>
                    </select>
                </div>


                <!-- Activity sector for pie chart -->
                <div class="filter-text activity-sector" data-ng-if="chart == 'pie-chart'" data-ng-class="{'disabled':(chart == 'pie-chart')}">
                    <label for="sector" class="activity-sector" data-ng-bind="i18n.L100573" data-ng-class="{'disabled':(chart == 'pie-chart')}"></label> 
                    <select id="sector" class="" data-ng-change="updateChart('activitySector')" data-ng-model="filters.activitySector" data-ng-class="{'disabled':(chart == 'pie-chart')}" data-ng-disabled="chart == 'pie-chart'">
                        <option data-ng-bind="i18n.L100573" data-ng-value="0" data-ng-selected="chart == 'pie-chart'"></option>
                    </select>
                </div>
                <!-- Establishment size for pie chart -->
                <div class="filter-text establishment-size" data-ng-if="chart == 'pie-chart'" data-ng-class="{'disabled':(chart == 'pie-chart')}">
                    <label for="sector" class="establishment-size" data-ng-bind="i18n.L100574" data-ng-class="{'disabled':(chart == 'pie-chart')}"></label>
                    <select id="sector" class="" data-ng-change="updateChart('establishmentSize')" data-ng-model="filters.establishmentSize" data-ng-class="{'disabled':(chart == 'pie-chart')}" data-ng-disabled="chart == 'pie-chart'">
                        <option data-ng-bind="i18n.L100574" data-ng-value="0" data-ng-selected="chart == 'pie-chart'"></option>
                    </select>
                </div>
                <!-- Country disabled -->
                <div class="filter-text country-items" data-ng-if="chart=='european-map' || chart=='european-bar-chart'" data-ng-class="{'disabled':(chart=='european-map' || chart=='european-bar-chart')}">
                    <label for="datafor" class="disabled" data-ng-bind="i18n.L100589"></label>
                    <select id="datafor" class="" disabled="disabled">
                    	<option value="" data-ng-bind="i18n.L100589" data-ng-selected="true"></option>
                    </select>
                </div>
                <!-- Country enabled -->
                <div class="filter-text country-items" data-ng-if="chart == 'pie-chart'">
                    <label for="datafor" class="" data-ng-bind="i18n.L100589"></label>
                    <select data-ng-class="{'comparisons':(chart == 'national-comparisons')}" id="datafor" ng-change="updateChart('country')" ng-model="filters.country" ng-selected="filters.country" >
                        <option data-ng-repeat='country in countries' value="{{country.id}}" data-ng-bind="country.literal"></option>
                    </select>
                </div>
                <!-- Country enabled for country comparision -->
                <div class="filter-text country-items countryComparison" data-ng-if="chart == 'national-comparisons'">
                    <label for="datafor" class="" data-ng-bind="i18n.L100589"></label>
                    <select data-ng-class="{'comparisons':(chart == 'national-comparisons')}" id="datafor" ng-change="updateChart('country')" ng-model="filters.country" ng-selected="filters.country" >
                        <option data-ng-repeat='country in countries' value="{{country.id}}" data-ng-bind="country.literal"></option>
                    </select>
                </div>
                <!-- Country national comparison -->
                <div class="filter-text country-items countryComparisonWith" data-ng-if="chart=='national-comparisons'">
                    <label for="comparewith" class="" data-ng-bind="i18n.L100590"></label>
                    <select id="comparewith" ng-change="updateChart('country2')" ng-model="filters.country2" ng-selected="filters.country2">
                        <option data-ng-repeat='country in countriesCompareWith' value="{{country.id}}" data-ng-bind="country.literal"></option>
                    </select>
                </div>
            </form>           
        </div>
        <div data-ng-if="chart=='national-bar-chart'">
			<form class="block--filter--wrapper">
                <p class="tags">
                    <span data-ng-bind="i18n.L101026"></span>
                </p>
                <!-- Activity sector -->
                <div class="filter-text-button">
                    <button data-ng-class="{'active':(filters.sectorSize == 'activity-sector')}" data-ng-click="updateChart('activityToCompany')"data-ng-bind="i18n.L100573" ui-sref="detailpage-national-bar-chart({ pTopic: topic, pChart: 'national-bar-chart', pSectorSize: 'activity-sector', pCountry: filters.country, pQuestion: indicator, pLanguage: pLanguage, pLocale: pLocale, pAnswer: answer})"></button>                    
                </div>
                <p class="tags">
                    <span data-ng-bind="i18n.L101027"></span>
                </p>       	
                <!-- Establishment size -->
                <div class="filter-text-button">
                    <button data-ng-class="{'active':(filters.sectorSize == 'company-size')}" data-ng-click="updateChart('CompanyToActivity')" data-ng-bind="i18n.L100574" ui-sref="detailpage-national-bar-chart({ pTopic: topic, pChart: 'national-bar-chart', pSectorSize: 'company-size', pCountry: filters.country, pQuestion: indicator, pLanguage: pLanguage, pLocale: pLocale, pAnswer: answer})"></button>
                </div>
                <!-- Country -->
                <div class="filter-text-button">
                    <select data-ng-change="updateChart('country')" ng-model="filters.country" ng-selected="filters.country">
                        <option data-ng-repeat='country in countries' value="{{country.id}}" data-ng-bind="country.literal"></option>
                    </select>
                </div>
            </form>
        </div>
    <hr>
        <!-- Select split answers and charts -->
        <div class="filters--and--typechart">
            <!-- Country national comparison -->
            <div class="filter-text country-items countryComparisonWith" data-ng-if="chart=='national-comparisons'">
                <label for="comparewith" class="" data-ng-bind="i18n.L100590"></label>
                <select id="comparewith" ng-change="updateChart('country2')" ng-model="filters.country2" ng-selected="filters.country2">
                    <option data-ng-repeat='country in countriesCompareWith' value="{{country.id}}" data-ng-bind="country.literal"></option>
                </select>
            </div>
            <form class="block--typechart--wrapper">
                <!-- Answer selection -->
                <div class="filter-text sort-by" data-ng-if="chart == 'european-map'">
                    <label for="sortBy" data-ng-bind="i18n.L100588 + ': '"></label>
                    <select id="sortBy" class="" ng-model="filters.answer" ng-change="updateChart('answer')">
                    	<option data-ng-repeat='answer in answers' value="{{answer.id}}" data-ng-bind="i18n['L'+answer.literal]" data-ng-selected="answer.id == filters.answer"></option>
                    </select>
                </div>
                <div class="filter-text sort-by" data-ng-if="chart == 'european-bar-chart'">
                    <label for="sortBy" data-ng-bind="i18n.L101030 + ': '"></label>
                    <select id="sortBy" class="" ng-model="filters.sortBy" ng-change="updateChart('answer')">
                        <option data-ng-bind="i18n.L101031" value="0" data-ng-selected="0 == filters.sortBy"></option>
                        <option data-ng-repeat='answer in answers' value="{{answer.id}}" data-ng-bind="i18n.L100588 + ': ' + i18n['L'+answer.literal]" data-ng-selected="answer.id == filters.sortBy"></option>
                    </select>
                </div>
                <!-- Chart selection -->
                <ul class="chart--selection--block">
                    <li data-ng-class="{'selected-chart':(chart == 'european-map')}" data-ng-click="openOptions($index,$event)">
                        <div class="no-event"></div>
                        <a title="{{i18n.L100623}}" class="" data-ng-class="{'selected-chart':(chart == 'european-map')}" ui-sref="detailpage-european-map({pIndicator: dataset, pTopic: topic, pChart: 'european-map', pQuestion: indicator, pSectorSize: sectorSize, pCountry: filters.country, pCountry2: filters.country2, pActivityFilter: filters.activitySector, pCompanyFilter: filters.establishmentSize, pLanguage: pLanguage, pLocale: pLocale, pAnswer: answer, pEuOnly: filters.euOnly})"><span class="visible-xs"  data-ng-bind="i18n.L100623"></span></a>
                    </li>

                    <li data-ng-class="{'selected-chart':(chart == 'european-bar-chart')}" data-ng-click="openOptions($index,$event)">
                        <div class="no-event"></div>
                        <a title="{{i18n.L100622}}" class="" data-ng-class="{'selected-chart':(chart == 'european-bar-chart')}" ui-sref="detailpage-european-bar-chart({pIndicator: dataset, pTopic: topic, pChart: 'european-bar-chart', pQuestion: indicator, pSectorSize: sectorSize, pCountry: filters.country, pCountry2: filters.country2, pActivityFilter: filters.activitySector, pCompanyFilter: filters.establishmentSize, pLanguage: pLanguage, pLocale: pLocale, pAnswer: answer, pEuOnly: filters.euOnly})"><span class="visible-xs"  data-ng-bind="i18n.L100622"></span></a>
                    </li>

                    <li data-ng-class="{'selected-chart':(chart == 'national-bar-chart')}" data-ng-click="openOptions($index,$event)">
                        <div class="no-event"></div>
                        <a title="{{i18n.L100624}}" class="" data-ng-class="{'selected-chart':(chart == 'national-bar-chart')}" ui-sref="detailpage-national-bar-chart({pIndicator: dataset, pTopic: topic, pChart: 'national-bar-chart', pSectorSize: sectorSize, pCountry: filters.country, pCountry2: filters.country2, pActivityFilter: filters.activitySector, pCompanyFilter: filters.establishmentSize, pQuestion: indicator, pLanguage: pLanguage, pLocale: pLocale, pAnswer: answer, pEuOnly: filters.euOnly})" ><span class="visible-xs"  data-ng-bind="i18n.L100624"></span></a>

                    </li>

                    <li data-ng-class="{'selected-chart':(chart == 'national-comparisons')}" data-ng-click="openOptions($index,$event)">
                        <div class="no-event"></div>
                        <a title="{{i18n.L100621}}" data-ng-class="{'selected-chart':(chart == 'national-comparisons')}" data-ng-click="changeTo()"><span class="visible-xs"  data-ng-bind="i18n.L100621"></span>
                        </a>
                    </li>

                    <li data-ng-class="{'selected-chart':(chart == 'pie-chart')}" data-ng-click="openOptions($index,$event)">
                        <div class="no-event"></div>
                        <a title="{{i18n.L101033}}" data-ng-class="{'selected-chart':(chart == 'pie-chart')}" ui-sref="detailpage-pie-chart({pIndicator: dataset, pTopic: topic, pChart: 'pie-chart', pCountry: filters.country, pCountry2: filters.country2, pActivityFilter: filters.activitySector, pCompanyFilter: filters.establishmentSize, pQuestion: indicator, pLanguage: pLanguage, pLocale: pLocale, pAnswer: answer, pSectorSize: sectorSize, pEuOnly: filters.euOnly})"><span class="visible-xs"  data-ng-bind="i18n.L101033"></span>
                        </a>
                    </li>
                    
                    <li data-ng-class="{'selected-chart':(noneu == 1)}">
                        <div class="no-event"></div>
                        <a data-ng-class="{'selected-chart':(noneu == 1)}" id="eu-only" title="{{i18n.L100580}}" href data-ng-if="chart=='european-map' || chart=='european-bar-chart'" data-ng-click="updateChart('euOnly')" data-ng-bind="i18n.L100679"></a>
                    </li> 
                </ul>
                <a data-ng-class="{'selected-chart':(noneu == 1)}" id="eu-only-mobile" title="{{i18n.L100580}}" href data-ng-if="chart=='european-map' || chart=='european-bar-chart'" data-ng-click="updateChart('euOnly')" data-ng-bind="i18n.L100679"></a>
            </form>
        </div>        
    </div>
	
</div>