<dvt-dashboard promises="promises" parameters="dashboard.parameters" class="overview-page">

<!-- First row of tabs -->
<!--<section class="container-fluid">
    <div class="container submenu--block">
      <ul class="submenu--items--wrapper">
        <li data-ng-class="{'active' : 'esener2009' == pIndicator }" class="submenu--item">
          <a href ui-sref="overview({pIndicator: 'esener2009'})" data-ng-click="changeIndicator($event,indicator.anchor);" data-ng-class="{'active' : 'esener2009' == pIndicator }" >ESENER 2009</a>
        </li>
        <li data-ng-class="{'active' : 'esener2014' == pIndicator }" class="submenu--item">
          <a href ui-sref="overview({pIndicator: 'esener2014'})" data-ng-click="changeIndicator($event,indicator.anchor);" data-ng-class="{'active' : 'esener2014' == pIndicator }" >ESENER 2014</a>
        </li>
        <li data-ng-class="{'active' : indicator.anchor == pIndicator }" class="submenu--item">
          <a href="" data-ng-click="changeIndicator($event,indicator.anchor);" data-ng-class="{'active' : indicator.anchor == pIndicator }" >ESENER 2019</a>
        </li>
      </ul>
    </div>
</section>-->

<!--<div class="line"></div>-->

<!-- Second row of tabs  -->
<!--<section class="container-fluid">
    <div class="submenu--block container">
      <ul class="submenu--items--wrapper">
        <li data-ng-class="{'active' : 'overview' == currentName }" class="submenu--item">
          <a href="" data-ng-click="changeIndicator($event,indicator.anchor);" data-ng-class="{'active' : 'overview' == currentName }">OVERVIEW</a>
        </li>
        <li data-ng-class="{'active' : 'datavisualisation' == currentName }" class="submenu--item">
          <a href="" data-ng-click="changeIndicator($event,indicator.anchor);" data-ng-class="{'active' : 'datavisualisation' == currentName }" >DATA VISUALISATION</a>
        </li>
        <li data-ng-class="{'active' : 'comparisons' == currentName }" class="submenu--item">
          <a href="" data-ng-click="changeIndicator($event,indicator.anchor);" data-ng-class="{'active' : 'comparisons' == currentName }" >COMPARISONS</a>
        </li>
      </ul>
    </div>
</section>-->

<!-- General information 2009 -->
<section class="container-fluid" ng-if="pIndicator == 'esener2009'">
    <div class="container grid-2">
        <div class="col-sm-6 col-xs-12  col-md-6 col-img">
            <a href=""> <img src="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-esener/static/custom/img/esener2009.png"> </a>
        </div>
        <div class="col-sm-6 col-xs-12  col-md-6 col-content">
            <h2 class="title--section main-color">ESENER 2009</h2>
            <p>The first ESENER, carried out in 2009, involved nearly 36,000 interviews with managers and OSH representatives. All EU Member States were covered, as were Turkey, Norway and Switzerland — 31 countries in all. The interviewees worked in private and public sector organisations with 10 or more employees.</p>
        </div>
    </div>
</section>

<!-- Accordions section 2009 -->
<section class="container-fluid" ng-if="pIndicator == 'esener2009'">
    <h1 class="text-center">Publications</h1>
    <!-- First accordion -->
    <div class="container grid-2">
        <div class="col-sm-6 col-xs-12  col-md-6 col-content">
            <!-- Title of the accordion -->
            <p class="title--section main-color">Available publications</p>
            <!-- Content of the accordion -->
            <ul>
                <li>
                    <p>European Survey of Enterprises on New and Emerging Risks (ESENER) - Managing safety and health at work (2010): <a href="https://osha.europa.eu/en/tools-and-publications/publications/reports/esener1_osh_management/view">Overview report</a> in English and <a href="https://osha.europa.eu/en/tools-and-publications/publications/reports/en_esener1-summary.pdf/view">Summary</a> in 24 languages</p>
                </li>
                <li>
                    <p><a href="https://osha.europa.eu/sites/default/files/files/en/publications/reports/esener1-summary_data/SEP%20ESENER%20presentation%202009.pptx">Powerpoint presentation</a> providing an overview of the results 2009</p>
                </li>
                <li>
                    <p>ESENER 2009: <a href="http://oshwiki.eu/wiki/ESENER-1_Methodology">http://oshwiki.eu/wiki/ESENER-1_Methodology</a></p>
                </li>
                <li>
                    <p>ESENER 2009 dataset can be accessed via the <a href="http://discover.ukdataservice.ac.uk/?q=esener">UK Data Archive (UKDA) of the University of Essex</a> and <a href="https://search.gesis.org/research_data/ZA6864">GESIS</a>.</p>
                </li>
            </ul>
        </div>
    </div>

    <!-- Second accordion -->
    <div class="container grid-2">
        <div class="col-sm-6 col-xs-12  col-md-6 col-content">
            <!-- Title of the accordion -->
            <p class="title--section main-color">Available secondary analyses</p>
            <!-- Content of the accordion -->
            <ul>
                <li>
                    <p>Qualitative post-test evaluation of ESENER (2014): <a href="https://osha.europa.eu/en/tools-and-publications/publications/reports/qualitative-post-test-evaluation-of-esener-overview-report/view">Overview report</a> and <a href="https://osha.europa.eu/en/tools-and-publications/publications/reports/qualitative-post-test-evaluation-of-esener-substantive-findings/view">Substantive findings</a> in English.</p>
                </li>
                <li>
                    <p>Analysis of the determinants of workplace occupational safety and health practice in a selection of EU Member States (2013): <a href="https://osha.europa.eu/en/tools-and-publications/publications/reports/analysis-determinants-workplace-OSH-in-EU/view/">Overview report</a> in English, <a href="https://osha.europa.eu/en/tools-and-publications/publications/reports/summary-analysis-determinants-workplace-OSH-in-EU/view">Executive summary</a> in 8 languages and <a href="https://osha.europa.eu/en/tools-and-publications/publications/reports/annex-analysis-determinants-workplace-OSH-in-EU/view/">Annex</a> in English</p>
                </li>
                <li>
                    <p>A summary of four secondary analysis reports: Understanding workplace management of safety and health, psychosocial risks and worker participation through ESENER (2012): <a href="https://osha.europa.eu/en/tools-and-publications/publications/reports/esener-summary/view">summary</a> in 24 languages</p>
                </li>
                <li>
                    <p>Worker representation and consultation on health and safety - An analysis of the findings of the European Survey of Enterprises on New and Emerging Risks (2012): <a href="https://osha.europa.eu/en/tools-and-publications/publications/reports/esener_workers-involvement/view">Overview report</a> in English and <a href="https://osha.europa.eu/en/tools-and-publications/publications/reports/esener_workers-involvement_annexes/view">Technical Report Annexes 1 and 2</a> in English</p>
                </li>
                <li>
                    <p>Management of occupational safety and health - Analysis of the findings of the ESENER (2012): <a href="https://osha.europa.eu/en/tools-and-publications/publications/reports/management-of-occupational-safety-and-health-analysis-of-data-from-the-esener/view">Overview report</a> and <a href="https://osha.europa.eu/en/tools-and-publications/publications/reports/esener_management_annexes/view">Technical report annexes 1 and 2 in English</a></p>
                </li>
                <li>
                    <p>Management of psychosocial risks at work - An analysis of the findings of the ESENER (2012): <a href="https://osha.europa.eu/en/tools-and-publications/publications/reports/management-psychosocial-risks-esener/view">Overview report</a> and <a href="https://osha.europa.eu/en/tools-and-publications/publications/reports/management-psychosocial-risks-esener-annexes/view">Technical report annexes 1 and 2</a> in English</p>
                </li>
                <li>
                    <p>Drivers and barriers for psychosocial risk management: an analysis of the findings of the ESENER (2012): <a href="https://osha.europa.eu/en/tools-and-publications/publications/reports/drivers-barriers-psychosocial-risk-management-esener/view">Overview report</a> in English</p>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- General information 2014 -->
<section class="container-fluid" ng-if="pIndicator == 'esener2014'">
    <div class="container grid-2">
        <div class="col-sm-6 col-xs-12  col-md-6 col-img">
            <a href="#"> <img src="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-esener/static/custom/img/esener2014.png"> </a>
        </div>
        <div class="col-sm-6 col-xs-12  col-md-6 col-content">
            <h2 class="title--section main-color">ESENER 2014</h2>
            <!--<div class="complete-text" data-ng-bind-html="i18nLiterals['L'+country1Data.text2]"></div>
            <div class="partial-text" data-ng-bind-html="trimText(i18nLiterals['L'+country1Data.text2], maxCharacters)"></div>
            <p class="see-more" data-ng-if="i18nLiterals['L'+country1Data.text2].length > maxCharacters">
                <a href ng-click='toggleText($event)' class="see-more">{{i18nLiterals.L20641}}<i class="fa fa-angle-down" aria-hidden="true"></i></a> 
                <a href ng-click='toggleText($event)' class="see-less" style="display:none">{{i18nLiterals.L20642}}<i class="fa fa-angle-up" aria-hidden="true"></i></a>
            </p>-->
            <p>
                The fieldwork for the second wave of ESENER was carried out in the summer-autumn of 2014. The survey provides an invaluable up-to-date snapshot of how workplace risks, and especially new and emerging risks, are being managed across Europe.
            </p>
            <p>
                The focus on new and emerging risks means that the responses shed light on underexplored and increasingly important areas of OSH, such as psychosocial risks, which are a growing area of concern in European workplaces.
            </p>
            <p>
                The 2014 survey is even more detailed and extensive than the first one, with the sample sizes increased by half, and in three countries the national samples have been additionally boosted. ESENER-2 includes micro enterprises of 5 to 10 employees and agricultural businesses for the first time. Five new countries — Albania, Iceland, North Macedonia, Montenegro and Serbia — have been added to the 31 that were included in 2009.
            </p>
            <p>
                Some of the topics covered are:
                <ul>
                    <li>Musculoskeletal disorders</li>
                    <li>The organisation of OSH management</li>
                    <li>Approaches to worker participation in OSH</li>
                </ul>
            </p>
        </div>
    </div>
</section>

<!-- Accordions section 2014 -->
<section class="container-fluid" ng-if="pIndicator == 'esener2014'">
    <h1 class="text-center">Publications</h1>
    <!-- First accordion -->
    <div class="container grid-2">
        <div class="col-sm-6 col-xs-12  col-md-6 col-content">
            <!-- Title of the accordion -->
            <p class="title--section main-color">Available publications</p>
            <!-- Content of the accordion -->
            <ul>
                <li>
                    <p><a href="https://osha.europa.eu/sites/default/files/ESENER2-Overview_report.pdf">ESENER-2 Overview report</a></p>
                </li>
                <li>
                    <p><a href="https://osha.europa.eu/en/tools-and-publications/publications/reports/esener-ii-first-findings.pdf/view">A first findings report</a></p>
                </li>
                <li>
                    <p><a href="https://osha.europa.eu/en/tools-and-publications/publications/reports/esener-ii-summary.pdf/view">A summary report</a></p>
                </li>
                <li>
                    <p>ESENER 2014: <a href="http://oshwiki.eu/wiki/ESENER-2_Methodology">http://oshwiki.eu/wiki/ESENER-2_Methodology</a></p>
                </li>
                <li>
                    <p>ESENER 2014 dataset can be accessed via the <a href="http://discover.ukdataservice.ac.uk/catalogue/?sn=7808&type=Data%20catalogue">UK Data Archive (UKDA) of the University of Essex</a> and <a href="https://search.gesis.org/research_data/ZA6865">GESIS</a></p>
                </li>
            </ul>
        </div>
    </div>

    <!-- Second accordion -->
    <div class="container grid-2">
        <div class="col-sm-6 col-xs-12  col-md-6 col-content">
            <!-- Title of the accordion -->
            <p class="title--section main-color">Available secondary analyses</p>
            <!-- Content of the accordion -->
            <ul>
                <li>
                    <p>Worker participation in the management of OSH — <a href="https://osha.europa.eu/en/tools-and-publications/publications/worker-participation-management-occupational-safety-health/view">overview report</a>, <a href="https://osha.europa.eu/en/tools-and-publications/publications/l_en?text=Country%20report%20Worker%20participation%20in%20the%20management%20of%20occupational%20safety%20and%20health%20%E2%80%94%20qualitative%20evidence%20from%20ESENER-2&sort_by=search_api_relevance&direction=desc">country reports</a>, <a href="https://osha.europa.eu/en/tools-and-publications/publications/worker-participation-management-occupational-safety-and-health/view">summary report</a> (2017)</p>
                </li>
                <li>
                    <p>Joint analysis of ESENER-2, the LFS 2013 ad-hoc module on accidents at work and other work-related health problems and the 6th European Working Conditions Survey  — <a href="https://osha.europa.eu/en/tools-and-publications/publications/health-and-safety-risks-workplace-joint-analysis-three-major/view">overview report</a>, <a href="https://osha.europa.eu/en/tools-and-publications/publications/executive-summary-health-and-safety-risks-workplace-joint/view">summary report</a> (2017)</p>
                </li>
                <li>
                    <p>Psychosocial risk management — <a href="https://osha.europa.eu/en/tools-and-publications/publications/management-psychosocial-risks-european-workplaces-evidence/view">overview report</a>, <a href="https://osha.europa.eu/en/tools-and-publications/publications/executive-summary-management-psychosocial-risks-european/view">summary report</a> (2018)</p>
                </li>
                <li>
                    <p>OSH management — <a href="https://osha.europa.eu/en/tools-and-publications/publications/management-occupational-health-and-safety-european-workplaces/view">overview report</a>, <a href="https://osha.europa.eu/en/tools-and-publications/publications/executive-summary-management-occupational-health-and-safety/view">summary report</a> (2018)</p>
                </li>
                <li>
                   <p>A technical assessment of the expansion of the survey universe — <a href="https://osha.europa.eu/en/tools-and-publications/publications/technical-assessment-expansion-second-european-survey/view">overview report</a> (2018)</p>
                </li>
                <li>
                    <p>An evaluation of ESENER-2 and its follow-up projects — <a href="https://osha.europa.eu/en/tools-and-publications/publications/ex-post-evaluation-second-european-survey-enterprises-new-and/view">overview report</a> (2018)</p>
                </li>
            </ul>
        </div>
    </div>
</section>

</dvt-dashboard>
