<dvt-dashboard promises="promises" parameters="dashboard.parameters" class="overview-page">

<!-- First row of tabs -->
<!--<section class="container-fluid">
    <div class="container submenu--block">
      <ul class="submenu--items--wrapper">
        <li data-ng-class="{'active' : 'esener2009' == pIndicator }" class="submenu--item">
          <a href ui-sref="overview({pIndicator: 'esener2009'})" data-ng-click="changeIndicator($event,indicator.anchor);" data-ng-class="{'active' : 'esener2009' == pIndicator }" >ESENER 2009</a>
        </li>
        <li data-ng-class="{'active' : 'esener2014' == pIndicator }" class="submenu--item">
          <a href ui-sref="overview({pIndicator: 'esener2014'})" data-ng-click="changeIndicator($event,indicator.anchor);" data-ng-class="{'active' : 'esener2014' == pIndicator }" >ESENER 2014</a>
        </li>
        <li data-ng-class="{'active' : indicator.anchor == pIndicator }" class="submenu--item">
          <a href="" data-ng-click="changeIndicator($event,indicator.anchor);" data-ng-class="{'active' : indicator.anchor == pIndicator }" >ESENER 2019</a>
        </li>
      </ul>
    </div>
</section>-->

<!--<div class="line"></div>-->

<!-- Second row of tabs  -->
<!--<section class="container-fluid">
    <div class="submenu--block container">
      <ul class="submenu--items--wrapper">
        <li data-ng-class="{'active' : 'overview' == currentName }" class="submenu--item">
          <a href="" data-ng-click="changeIndicator($event,indicator.anchor);" data-ng-class="{'active' : 'overview' == currentName }">OVERVIEW</a>
        </li>
        <li data-ng-class="{'active' : 'datavisualisation' == currentName }" class="submenu--item">
          <a href="" data-ng-click="changeIndicator($event,indicator.anchor);" data-ng-class="{'active' : 'datavisualisation' == currentName }" >DATA VISUALISATION</a>
        </li>
        <li data-ng-class="{'active' : 'comparisons' == currentName }" class="submenu--item">
          <a href="" data-ng-click="changeIndicator($event,indicator.anchor);" data-ng-class="{'active' : 'comparisons' == currentName }" >COMPARISONS</a>
        </li>
      </ul>
    </div>
</section>-->

<!-- General information 2009 -->
<section class="container-fluid" ng-if="pIndicator == 'esener2009'">
    <div class="container grid-2">
        <div class="col-sm-6 col-xs-12  col-md-6 col-img">
            <a href=""> <img src="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-esener/static/custom/img/esener2009.png"> </a>
        </div>
        <div class="col-sm-6 col-xs-12  col-md-6 col-content">
            <h2 class="title--section main-color" data-ng-bind="i18n.L101007"></h2>
            <p data-ng-bind-html="i18n.L101004"></p>
        </div>
    </div>
</section>

<!-- Accordions section 2009 -->
<section class="container-fluid" ng-if="pIndicator == 'esener2009'">
    <h1 class="text-center" data-ng-bind-html="i18n.L101011"></h1>
    <!-- First accordion -->
    <div class="container grid-2">
        <div class="col-sm-6 col-xs-12  col-md-6 col-content">
            <!-- Title of the accordion -->
            <p class="title--section main-color" data-ng-bind-html="i18n.L101012"></p>
            <!-- Content of the accordion -->
            <p data-ng-bind-html="i18n.L101014"></p>
        </div>
    </div>

    <!-- Second accordion -->
    <div class="container grid-2">
        <div class="col-sm-6 col-xs-12  col-md-6 col-content">
            <!-- Title of the accordion -->
            <p class="title--section main-color" data-ng-bind-html="i18n.L101013"></p>
            <!-- Content of the accordion -->
            <p data-ng-bind-html="i18n.L101015"></p>
        </div>
    </div>
</section>

<!-- General information 2014 -->
<section class="container-fluid" ng-if="pIndicator == 'esener2014'">
    <div class="container grid-2">
        <div class="col-sm-6 col-xs-12  col-md-6 col-img">
            <a href="#"> <img src="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-esener/static/custom/img/esener2014.png"> </a>
        </div>
        <div class="col-sm-6 col-xs-12  col-md-6 col-content">
            <h2 class="title--section main-color" data-ng-bind="i18n.L101008"></h2>
            <div class="complete-text" data-ng-bind-html="i18n.L101016"></div>
            <div class="partial-text" data-ng-bind-html="trimText(i18n.L101016, maxCharacters)"></div>
            <p class="see-more" data-ng-if="i18n.L101016.length > maxCharacters">
                <a href ng-click='toggleText($event)' class="see-more">{{i18n.L480}}<i class="fa fa-angle-down" aria-hidden="true"></i></a> 
                <a href ng-click='toggleText($event)' class="see-less" style="display:none">{{i18n.L481}}<i class="fa fa-angle-up" aria-hidden="true"></i></a>
            </p>
            <!--<p data-ng-bind-html="i18n.L101016"></p>-->
        </div>
    </div>
</section>

<!-- Accordions section 2014 -->
<section class="container-fluid" ng-if="pIndicator == 'esener2014'">
    <h1 class="text-center" data-ng-bind="i18n.L101011"></h1>
    <!-- First accordion -->
    <div class="container grid-2">
        <div class="col-sm-6 col-xs-12  col-md-6 col-content">
            <!-- Title of the accordion -->
            <p class="title--section main-color" data-ng-bind="i18n.L101012"></p>
            <!-- Content of the accordion -->
            <p data-ng-bind-html="i18n.L101018"></p>
        </div>
    </div>

    <!-- Second accordion -->
    <div class="container grid-2">
        <div class="col-sm-6 col-xs-12  col-md-6 col-content">
            <!-- Title of the accordion -->
            <p class="title--section main-color" data-ng-bind="i18n.L101013"></p>
            <!-- Content of the accordion -->
            <p data-ng-bind-html="i18n.L101019"></p>
        </div>
    </div>
</section>

</dvt-dashboard>
