<dvt-dashboard promises="promises" parameters="dashboard.parameters" class="overview-page">

<!-- General information 2009 -->
<section class="container" ng-if="pIndicator == '2009'">
    <div class="container grid-2">
        <div class="col-sm-6 col-xs-12  col-md-6 col-img">
            <div><img src="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-esener/static/custom/img/esener2009.png" class="no-hover"></div>
        </div>
        <div class="col-sm-6 col-xs-12  col-md-6 col-content">
            <h1 class="title--section main-color" data-ng-bind="i18n.L101007"></h1>
            <div class="complete-text" data-ng-bind-html="i18n.L101004"></div>
            <div class="partial-text" data-ng-bind-html="trimText(i18n.L101004, maxCharacters)"></div>
            <p class="see-more" data-ng-if="i18n.L101004.length > maxCharacters">
                <a href ng-click='toggleText($event)' class="see-more">{{i18n.L480}}</a> 
                <a href ng-click='toggleText($event)' class="see-less" style="display:none">{{i18n.L481}}</a>
            </p>
        </div>
    </div>
    <!-- Accordions section 2009 -->
    <h2 class="text-center" data-ng-bind-html="i18n.L101011"></h2>
    <!-- First accordion -->
    <!-- Title of the accordion -->
    <h3 class="title--section main-color accordion-title active" ng-click="accordion($event)" data-ng-bind-html="i18n.L101012"></h3>
    <!-- Content of the accordion -->
    <div class="accordion-content active" data-ng-bind-html="i18n.L101014"></div>

    <!-- Second accordion -->
    <!-- Title of the accordion -->
    <h3 class="title--section main-color accordion-title" ng-click="accordion($event)" data-ng-bind-html="i18n.L101013"></h3>
    <!-- Content of the accordion -->
    <div class="accordion-content" data-ng-bind-html="i18n.L101015"></div>
</section>

<!-- General information 2014 -->
<section class="container" ng-if="pIndicator == '2014'">
    <div class="container grid-2">
        <div class="col-sm-6 col-xs-12  col-md-6 col-img">
            <div><img src="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-esener/static/custom/img/esener2014.png" class="no-hover"></div>
        </div>
        <div class="col-sm-6 col-xs-12  col-md-6 col-content">
            <h1 class="title--section main-color" data-ng-bind="i18n.L101008"></h1>
            <div class="complete-text" data-ng-bind-html="i18n.L101016"></div>
            <div class="partial-text" data-ng-bind-html="trimText(i18n.L101016, maxCharacters)"></div>
            <p class="see-more" data-ng-if="i18n.L101016.length > maxCharacters">
                <a href ng-click='toggleText($event)' class="see-more">{{i18n.L480}}</a> 
                <a href ng-click='toggleText($event)' class="see-less" style="display:none">{{i18n.L481}}</a>
            </p>
            <!--<p data-ng-bind-html="i18n.L101016"></p>-->
        </div>
    </div>

    <!-- Accordions section 2014 -->

    <h2 class="text-center" data-ng-bind="i18n.L101011"></h2>
    <div  data-ng-bind-html="i18n.L101017"></div>
        <!-- First accordion -->
        <!-- Title of the accordion -->
        <h3 class="title--section main-color accordion-title active" ng-click="accordion($event)" data-ng-bind="i18n.L101012"></h3>
        <!-- Content of the accordion -->
        <div class="accordion-content active" data-ng-bind-html="i18n.L101018"></div>

        <!-- Second accordion -->
        <!-- Title of the accordion -->
        <h3 class="title--section main-color accordion-title" ng-click="accordion($event)" data-ng-bind="i18n.L101013"></h3>
        <!-- Content of the accordion -->
        <div class="accordion-content" data-ng-bind-html="i18n.L101019"></div>
</section>


<!-- General information 2019 -->
<section class="container" ng-if="pIndicator == '2019'">
    <div class="container grid-2">
        <div class="col-sm-6 col-xs-12  col-md-6 col-img">
            <div><img src="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-esener/static/custom/img/esener2019.png" class="no-hover"></div>
        </div>
        <div class="col-sm-6 col-xs-12  col-md-6 col-content">
            <h1 class="title--section main-color" data-ng-bind="i18n.L101079"></h1>
            <div class="complete-text" data-ng-bind-html="i18n.L101081"></div>
            <div class="partial-text" data-ng-bind-html="trimText(i18n.L101081, maxCharacters)"></div>
            <p class="see-more" data-ng-if="i18n.L101081.length > maxCharacters">
                <a href ng-click='toggleText($event)' class="see-more">{{i18n.L480}}</a> 
                <a href ng-click='toggleText($event)' class="see-less" style="display:none">{{i18n.L481}}</a>
            </p>
        </div>
    </div>
    <!-- Accordions section 2019 -->
    <h2 class="text-center" data-ng-bind-html="i18n.L101011"></h2>
    <!-- First accordion -->
    <!-- Title of the accordion -->
    <h3 class="title--section main-color accordion-title active" ng-click="accordion($event)" data-ng-bind-html="i18n.L101012"></h3>
    <!-- Content of the accordion -->
    <div class="accordion-content active" data-ng-bind-html="i18n.L101083"></div>

    <!-- Second accordion -->
    <!-- Title of the accordion -->
    <h3 class="title--section main-color accordion-title" ng-click="accordion($event)" data-ng-if="i18n.L101084 != 'null'" data-ng-bind-html="i18n.L101013"></h3>
    <!-- Content of the accordion -->
    <div class="accordion-content" data-ng-bind-html="i18n.L101084" data-ng-if="i18n.L101084 != 'null'"></div>
</section>

</dvt-dashboard>
