<dvt-dashboard parameters="dashboard.parameters" class="comparisons">
<div class="container-fluid detail--page--wrapper">
    <section class="col-content questions--list--wrapper">
      <div class="filter--questions--group--wrapper">
        <p data-ng-click="openAccordion($index,$event)" data-ng-bind="i18n.L100663"></p>
        <div class="filter--questions--group">
          <dvt-select data-ng-cloak ng-model="pQuestion" parameter="pQuestion" params="[['pYear', 'pYear'], ['pLocale', pLocale]]"
            listen-to="['pYear', 'pQuestion']" query="getQuestionsComparison" cda="{{cdaEsenerDash}}" data-ng-change="changeToQuestion(pQuestion)" class="filter--questions--wrapper">
          </dvt-select>    
          <!-- Question Hierarchy -->
          <div class="questions--tree">
            <!-- First level -->
            <ul>
              <li class="first-level" data-ng-repeat="question in firstLevel()" data-ng-class="{'open': pTopic == question.anchor}">
                <span><a href data-ng-bind="i18n['L'+question.name_1]" data-ng-click="openAccordion($index,$event)" ></a></span>
                <!-- Second Level -->
                <ul>
                  <li data-ng-repeat="child in children(question.id)" data-ng-class="{'open': child.id == selectedFatherID, 'has-level3': child.category == null }">
                    <span data-ng-if="child.category != null">
                      <a data-ng-bind="i18n['L'+child.name_1]" href data-ng-click="changeToQuestion(child, question.anchor)"  data-ng-class="{'selected': child.category == pQuestion}"></a>
                    </span>
                    <span data-ng-if="child.category == null">
                      <a data-ng-bind="i18n['L'+child.name_1]" data-ng-click="openAccordion($index,$event,2)" href></a>
                    </span>
                    <ul data-ng-if="child.category == null">
                      <li data-ng-repeat="grandchild in children(child.id)" data-ng-click="openAccordion($index,$event)">
                        <span>
                          <a data-ng-bind="i18n['L'+grandchild.name_1]" href data-ng-click="changeToQuestion(grandchild, question.anchor)" data-ng-class="{'selected': grandchild.category == pQuestion}"></a>
                        </span>
                      </li>
                    </ul>    
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="detail--content--section">
    	<div class="selector--page--elements">            
				<!-- Title and introduction -->
			    <div class="content--intro--wrapper">
            <h1 class="title--section second-color outleft" data-ng-bind="i18n_literals.L101080"></h1>
            <!-- DATA FOR -->
            <div class="datafor--dropdown--wrapper" >
              <div class="datafor--dropdown--list">
                <p class="option-title" ng-click="openSelect($event)" data-ng-bind="i18n.L101086"></p>
                <ul class="datafor--dropdown--options">
                  <li>
                    <input id='2014' type="checkbox" ng-click="openSelect($event)" checked="checked" disabled="disabled" tabindex="-1"/>
                    <label for='2014' data-ng-bind="2014"></label>
                  </li>
                  <li>
                    <input id='2019' type="checkbox" ng-click="openSelect($event)" checked="checked" disabled="disabled" tabindex="-1"/>
                    <label for='2019' data-ng-bind="2019"></label>
                  </li>
                </ul>
              </div>
            </div> 
            <p class="selected--tags-wrapper">
              <span class="selected-tag ng-scope" id="tag2014" data-ng-click="deleteTag($event)">2014</span>
              <span class="selected-tag ng-scope" id="tag2019" data-ng-click="deleteTag($event)">2019</span>
            </p>
			      <!-- Breadcrumb -->        
            <p data-ng-bind-html="currentQuestion.breadcrumb"></p>
            <ul class="question--by--question">
              <li><a data-ng-click="changeQuestion(currentQuestion.previousID, 'p')" title="{{isNull(currentQuestion.previous, 'p')}}" data-ng-bind="trim(currentQuestion.previous, 'p')"></a></li>
              <li><a data-ng-click="changeQuestion(currentQuestion.nextID, 'n')" title="{{isNull(currentQuestion.next, 'n')}}" data-ng-bind="trim(currentQuestion.next, 'n')"></a></li>
            </ul>
			    </div>
			    <div class="content--lang--wrapper">
			        <!-- National version select -->
			        <div class="national-version-select">
		            <form action="" class="compare--block--form">
	                <label for="searchFilter" class="" data-ng-bind="i18n.L101032"></label>
	                <div>
	                    <select class="lang-dropdown-select-element form-select" id="lang-dropdown-select-language_content" accesskey="8" title="Language" name="lang_dropdown_select" data-ng-change="changeLocale()" data-ng-model="pLocale">
	                        <!-- Select esener 2014 languages -->
                          <option value="de_1">(AT) Österreich</option>
                          <option value="fr_1">(BE) Belgique</option>
                          <option value="nl_1">(BE) België</option>
                          <option value="bg">(BG) България</option>
                          <option value="de_3">(CH) Schweiz</option>
                          <option value="fr_3">(CH) Suisse</option>
                          <option value="it_1">(CH) Svizzera</option>
                          <option value="el_1">(CY) Κύπρος</option>
                          <option value="cs">(CZ) Česko</option>                       
                          <option value="de">(DE) Deutschland</option>
                          <option value="da">(DK) Danmark</option>
                          <option value="et">(EE) Eesti</option>
                          <option value="ru_1">(EE) Эстония</option>
                          <option value="el">(EL) Ελλάδα</option>
                          <option value="es">(ES) España</option>
                          <option value="fi">(FI) Suomi</option>
                          <option value="sv_1">(FI) Finland</option>                    
                          <option value="fr">(FR) France</option> 
                          <option value="hr">(HR) Hrvatska</option>
                          <option value="hu">(HU) Magyarország</option>
                          <option value="en_1">(IE) Ireland</option>
                          <option value="is">(IS) Ísland</option>
                          <option value="it">(IT) Italia</option>
                          <option value="lt">(LT) Lietuva</option>
                          <option value="ru_3">(LT) Литва</option>
                          <option value="de_2">(LU) Luxemburg</option>
                          <option value="fr_2">(LU) Luxembourg</option>
                          <option value="lu">(LU) Lëtzebuerg</option>
                          <option value="lv">(LV) Latvija</option>
                          <option value="ru_2">(LV) Латвия</option>
                          <option value="mk">(MK) Северна Македонија</option>
                          <option value="en_2">(MT) Malta (EN)</option>
                          <option value="mt">(MT) Malta (MT)</option>
                          <option value="nl">(NL) Nederland</option>
                          <option value="no">(NO) Norge</option>
                          <option value="pl">(PL) Polska</option>
                          <option value="pt">(PT) Portugal</option>
                          <option value="ro">(RO) România</option>
                          <option value="sr">(RS) Srbija</option>
                          <option value="sv">(SE) Sverige</option>
                          <option value="sl">(SI) Slovenija</option>
                          <option value="sk">(SK) Slovensko</option>
                          <option value="en">(UK) United Kingdom</option>
	                    </select>
	                </div>			                
		            </form>
			        </div>      
			    </div>
			    <!-- Chart section and indicator selection -->
			    <div class="content--introchart--wrapper">
  	        <!-- Question title -->
  	        <h2 class="title-question main-color" data-ng-bind="currentQuestion.name"></h2>
  	        <p  class="description--question" data-ng-bind-html="currentQuestion.description"></p>
			    </div>

			    <div class="content--filter--wrapper">  
			      <div>
  						<form class="block--filter--wrapper" data-ng-class="{ {{pLocale}} :(langSize[0].indexOf(pLocale) != -1 ) }">
  			                <p class="tags">
  			                    <span data-ng-bind="i18n.L101026"></span>
  			                </p>
  			                <!-- Activity sector -->
  			                <div class="filter-text-button" data-ng-class="{'exception':['E3Q260_1','E3Q260_2','E3Q260_3','E3Q260_4'].indexOf(pQuestion)>-1 && pCountry!='EU27_2020'}">
  			                    <button data-ng-class="{'active':(pSectorSize == 'activity-sector')}" data-ng-click="updateChart()" data-ng-bind="i18n.L100573" ui-sref="comparisons({ pIndicator:pIndicator, pTopic:pTopic,pSectorSize: 'activity-sector', pCountry: pCountry, pQuestion: pQuestion, pLanguage: pLanguage, pLocale: pLocale, pAnswer: pAnswer})" data-ng-disabled="['E3Q260_1','E3Q260_2','E3Q260_3','E3Q260_4'].indexOf(pQuestion)>-1 && pCountry!='EU27_2020'"></button>                    
  			                </div>
  			                <p class="tags">
  			                    <span data-ng-bind="i18n.L101027"></span>
  			                </p>       	
  			                <!-- Establishment size -->
  			                <div class="filter-text-button">
  			                    <button data-ng-class="{'active':(pSectorSize == 'company-size')}" data-ng-click="updateChart()" data-ng-bind="i18n.L100574" ui-sref="comparisons({ pIndicator:pIndicator, pTopic:pTopic,pSectorSize: 'company-size', pCountry: pCountry, pQuestion: pQuestion, pLanguage: pLanguage, pLocale: pLocale, pAnswer: pAnswer})"></button>
  			                </div>
  			                <!-- Country -->
  			                <div class="filter-text-button country-select">
  			                    <select data-ng-change="updateChart()" data-ng-model="pCountry" ng-selected="pCountry" data-ng-disabled="['E3Q260_1','E3Q260_2','E3Q260_3','E3Q260_4'].indexOf(pQuestion)>-1 && pCountry=='EU27_2020' && pSectorSize=='activity-sector'">
  			                        <option data-ng-repeat='country in countries' value="{{country.id}}" data-ng-bind="country.literal"></option>
  			                    </select>
  			                </div>
  			      </form>
            </div>
            <hr>
  	        <!-- Select split answers and charts -->
  	        <div class="filters--and--typechart comparisons-filter">
              <form class="block--typechart--wrapper">
                <!-- Answer selection -->
                <div class="filter-text sort-by">
                  <label for="sortBy" data-ng-bind="i18n.L100588 + ': '"></label>
                  <select id="sortBy" class="" data-ng-model="pAnswer" data-ng-change="updateChart()" ng-selected="pAnswer">
                  	<option data-ng-repeat='answer in answers' value="{{answer.id}}" data-ng-bind="i18n['L'+answer.literal]"></option>
                  </select>
                </div>
              </form>
  	        </div>        
			    </div>
      </div>
      <!-- CHART section -->
        <div class="chart--section">
          <div class="comparisons-chart">
            <div class="xxs-w1 xs-w1 w1 center-text">
                <div class="card--block--chart">
                    <div class="chart--block">
                        <dvt-bar-chart
                          data-ng-cloak
                          query="{{query}}" cda="{{::cdaEsenerDash}}"
                          width="660" height="660" axis-percent="1"
                          orientation="vertical" axis-fixed-min="0"
                          axis-fixed-max="100" step="20"
                          params="[['pQuestion',pQuestion],['pAnswer',pAnswer],['pCountry', pCountry], ['pLanguage', pLocale], ['pInclusions',pInclusions]]"
                          color-role="series" colors="[color1, color2]" id="1"
                          axis-label-font="12px 'OpenSans-bold'"
                          plots="plot"
                          values-visible="false"
                          multiple-label-colors="false"
                          leaf-content-overflow='visible'
                          legend-dot-fill-style="true"
                          legend="true" is-maximized="false"
                          base-axis-size="135" custom-tooltip="1"
                          base-axis-label-text-baseline="top"
                          axis-label-word-break="1" angle="1"
                        ></dvt-bar-chart>
                    </div>
                </div>
            </div>
          </div>

          <div class="export--button--wrapper">
            <button id="btnSocial" class="btn-default btn-main-color" data-ng-click="showSharePopUp($event)">
              <span data-ng-bind="i18n.L101028"></span>
              <span><i class="fa fa-share-alt" aria-hidden="true"></i></span>
            </button>
            <button id="btnExport" class="btn-default btn-main-color" data-ng-click="showSharePopUp($event)"><span data-ng-bind="i18n.L101029"></span></button>
          </div>

          <section id="popUpMessage" data-ng-if="showPopUpSocialMedia" data-ng-click="ok()">
            <div class="modal fade dvt-modal-social in" ng-class="{in: animate}" ng-style="{'z-index': 1050 + index*10}" ng-transclude="" modal-window="" window-class="dvt-modal" index="0" style="z-index: 1050;">
              <div class="modal-wrapper">
                <div class="modal-body">
                  <span class="btn pull-right" role="button" aria-hidden="true" title="Close window" data-ng-click="ok()"><i class="fa fa-2x fa-times" aria-hidden="true"></i></span>
                  <div class="popUpMessage--text--block">
                    <p class="text-center title-share" data-ng-bind="i18n.L101028"></p>
                    <div class="social--network--modal" id="osha-menu-social">
                      <a class="main-color" target="_blank" socialshare socialshare-provider="twitter" title ="{{i18n.L370}}" socialshare-text="{{titleShare}}" socialshare-url="{{pathURLDVT}}">
                        <i class="fa fa-lg fa-twitter" aria-hidden="true"></i><span class="sr-only" data-ng-bind="(i18n.L369) + (i18n.L370)"></span>
                      </a>
                      <a class="main-color" target="_blank" socialshare socialshare-provider="facebook" title="{{i18n.L371}}" socialshare-url="{{pathURLDVT}}" socialshare-quote="{{titleShare}}">
                        <i class="fa fa-lg fa-facebook-official" aria-hidden="true"></i><span class="sr-only" data-ng-bind="(i18n.L369) + (i18n.L371)"></span>
                      </a>
                      <a class="main-color" target="_blank" socialshare socialshare-provider="linkedin" title="{{i18n.L372}}" socialshare-url="{{pathURLDVT}}" socialshare-text="{{titleShare}}">
                        <i class="fa fa-lg fa-linkedin" aria-hidden="true"></i><span class="sr-only" data-ng-bind="(i18n.L369) + (i18n.L372)"></span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section id="popUpMessage" data-ng-if="showPopUpExportData" data-ng-click="ok()">
            <div class="modal fade dvt-modal-social in" ng-class="{in: animate}" ng-style="{'z-index': 1050 + index*10}" ng-transclude="" modal-window="" window-class="dvt-modal" index="0" style="z-index: 1050;">
              <div class="modal-wrapper">
                <div class="modal-body">
                  <span class="btn pull-right" role="button" aria-hidden="true" title="Close window" data-ng-click="ok()"><i class="fa fa-2x fa-times" aria-hidden="true"></i></span>
                  <div class="popUpMessage--exportData--text--block">
                    <p class="text-center" data-ng-bind="i18n.L101029"></p>
                    <div class="export--data--modal" id="osha-menu-social">
                      <!-- URL -->
                      <a href class="main-color text-center" target="_blank" data-ng-class="{'active': pageUrlActive}"  data-ng-click="pageUrlActive = !pageUrlActive; pageCitationActive = false;pageDownloadCSVActive=false " title="{{i18n.L100662}} > {{i18n.L100660}}">
                        <i class="fa fa-link" aria-hidden="true"></i></i> <span data-ng-bind="i18n.L100660" ></span>
                      </a>
                      <!-- PNG -->
                      <a href class="main-color text-center" target="_blank" title="{{i18n.L100662}} > {{i18n.L100657}}" data-ng-click="exportPNG()" data-ng-if="isIE == false">
                        <i class="fa fa-file-image-o" aria-hidden="true"></i> <span data-ng-bind="i18n.L100657" ></span>
                      </a>
                      <!-- PDF -->
                      <!--<a class="main-color text-center" target="_blank" title="{{i18n.L100662}} > {{i18n.L100656}}">
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i> <span data-ng-bind="i18n.L100656" ></span>
                      </a>-->
                      <!-- PAGE CITATION -->
                      <a href class="main-color text-center" data-ng-class="{'active': pageCitationActive}"  target="_blank" title="{{i18n.L100662}} > {{i18n.L100651}}" data-ng-click="pageCitationActive = !pageCitationActive; pageUrlActive = false;pageDownloadCSVActive=false">
                        <i class="fa fa-file-code-o" aria-hidden="true"></i> <span data-ng-bind="i18n.L100651"></span>
                      </a>
                      <!-- XLS -->
                      <a href class="main-color text-center" target="_blank" title="{{i18n.L100662}} > {{i18n.L100652}}" data-ng-click="pageDownloadCSVActive=!pageDownloadCSVActive;pageCitationActive=false;pageUrlActive=false">
                        <i class="fa fa-file-excel-o" aria-hidden="true"></i> <span data-ng-bind="i18n.L100652" ></span>
                      </a>
                    </div>
                    <div id="panel--url" data-ng-if="pageUrlActive">
                      <button id="btnSocial" class="btn-default btn-main-color" data-ng-click="selectTextArea()">
                        <span  data-ng-bind="i18n.L100640" ></span>
                      </button>
                      <textarea id="urlTextArea" readonly="readonly" cols="80" rows="3" data-ng-bind="createURL()"></textarea>
                      <div class="pageUrl">
                        <p data-ng-bind="i18n.L100587 + ': ' + i18n.L100660"></p>
                        <a id="btnSocial" class="btn-default btn-main-color" href="{{pathURLDVT}}" target="_blank">
                          <span data-ng-bind="i18n.L100641"></span>
                        </a>
                        <!--<button id="btnSocial" class="btn-default" data-ng-bind="i18n.L100638" data-ng-click=""></button>-->
                      </div>
                    </div>
                    <div id="panel--url" data-ng-if="pageCitationActive">
                      <button id="btnSocial" class="btn-default btn-main-color" data-ng-click="selectTextArea()">
                        <span  data-ng-bind="i18n.L100640" ></span>
                      </button>
                      <textarea id="urlTextArea" readonly="readonly" cols="80" rows="5" data-ng-bind="createCitation()"></textarea>
                      <div class="pageUrl">
                        <p data-ng-bind="i18n.L100587 + ': ' + i18n.L100660"></p>
                      </div>
                    </div><div id="panel--url" data-ng-if="pageDownloadCSVActive">
                    <button id="btnSocial" class="btn-default btn-main-color" data-ng-click="exportData(1)">
                      <span  data-ng-bind="i18n.L101090" ></span>
                    </button>
                    <div class="pageUrl">
                      <p data-ng-bind="i18n.L101089"></p>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      
    </section>
</div>
</dvt-dashboard>