.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}



/** HEADER **/
  .bar-header{
    position: fixed;
    z-index: 1001;
    top: 0;
    padding: 0;
    width: 100%;
    background: #FFF;
    height:11.7rem;
    border-bottom: 1px solid #f6a400;
    .header--top{
      display: flex;
      justify-content: flex-start;
      .eu-osha-logo{
        a{
          display: block;
          padding: 1rem 0;
          img{
            //height:9rem;
          }
        }
      }
      .nav--tools--menu {
        display: flex;
        flex-direction: column;
        margin-left: auto;
      }
      .menu-tools-top{
        padding: 1rem 5rem 0 0;
        text-align: right;
        min-height: 5.9rem;
        li{
          vertical-align: middle;
          /*
          padding-left: 3rem;
          padding-right: 0;
          */
         &:nth-child(1){
          //padding-right: 3rem;
         }
        }
        .menu-tools-top--items{
          margin: 0;
          .zoom--text{
            padding-bottom: 0.5rem;
            position: relative;
            top: 1px;
            span {
              display: inline-block;
              vertical-align: sub;
              a{
                display: block;
                font-weight: bold;
                cursor: pointer;
                text-decoration: none;
                color:$gray-icon;
                &:hover{
                  text-decoration: none;
                }
              }
              &.a_small a{
                font-size:1em;
              }
              &.a_medium a{
                font-size: 1.5em;
              }
              &.a_big a{
                font-size:2em;
              }
            }       
          }
          .lang--block{
            position: relative;
            .lang--form{
              select{
                margin: 1rem 0;
                padding: 0.3rem 1rem;
                border-radius: 0.6rem;
                border: 0;
                background:$aquamarine !important;
                position: relative;
                color: #FFF;
                font-size: 1.2rem;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                &::-ms-expand {
                  display: none;
                }
                option{
                  padding: 0.5rem 0;
                }
              }
              &:after{
                content:url(../img/lang-icon.png);
                position: absolute;
                top: 0;
                padding: 1rem;            
                right: -3rem;
              }
            }
            &:after {
              content: "\f107";
              font-family: FontAwesome;
              font-weight: normal;
              font-size: 2rem;
              color: #FFF;
              right: 0.5rem;
              top: -0.2rem;;
              height: auto;
              padding: 1rem;
              position: absolute;
              pointer-events: none;
            }     
          }
          .print--block{
            a{
              cursor: pointer;
              text-decoration: none;
              color: $gray-icon;
              font-size: 2.5rem;
              position: relative;
              top: 2px;
              .fa-print:before {
                content: url(../img/print-icon.png);
              }
              &:before{
              }
            }
          }
        }
      }
    }
    .bar-main-menu{
      margin: 0;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      margin-top: 0px;
      .navbar-nav{
        > li{
          &.main-menu-selected{                      
            box-shadow: 0 6px 0 0px $orange;
            > a{
              color: $aquamarine;
            }
          }
          a{
            font-family: Oswald,sans-serif;
            color:$link-menu;
            background:transparent !important;
            font-size:1.8rem;
            //line-height: 25px;
            font-weight: 400;
            padding-top: 1.6rem;
            padding-bottom: 1.6rem;
            -webkit-transition: color 0.8s ease-out;
            -moz-transition: color 0.8s ease-out;
            -o-transition: color 0.8s ease-out;
            transition: color 0.8s ease-out;
            .fa-home:before{
                font-size: 2.5rem;
            }
            &:hover{
              color: $aquamarine;
              background:transparent !important;
              -webkit-transition: color 0.8s ease-out;
              -moz-transition: color 0.8s ease-out;
              -o-transition: color 0.8s ease-out;
              transition: color 0.8s ease-out;
            }
            &:focus, &:visited{
              background-color:transparent !important;
            }
          }
          &.active{
            //border-bottom: 0.6rem solid $orange;
            a{
              color: $aquamarine;
            }         
          }
          &:hover{
            box-shadow: 0 6px 0 0px #F6A400;
            -webkit-transition: border-color 0.4s ease-out;
            -moz-transition: border-color 0.4s ease-out;
            -o-transition: border-color 0.4s ease-out;
            transition: border-color 0.4s ease-out;
          }
          &:not( :hover ){
            .dropdown-menu{
                //display:none !important;
            }
          }
          &.open{
            .dropdown-menu{
               // display:block;
            }
          }
          &:not( .open ){
            .dropdown-menu{
               // display:none !important;
            }
          }
          &:nth-child(1){
            a, a:active, a:focus{
              padding: 1.6rem 1.6rem 1.6rem 2.6rem;
              background: url(../img/home-icon.png) left center no-repeat !important;            
            }
          }
          &:nth-child(2){
            a, a:active, a:focus{
              padding: 1.6rem 1.6rem 1.5rem 2.6rem;
            }
          }  
          &.dropdown{
            .fa-caret-down:before{
              color:$aquamarine;
            }
            &:hover{
              .dropdown-menu{
                border-top: 0.6rem solid $orange;
                display:block;
                top:99%;
                min-width:100% !important;
                width: auto !important;
                overflow: visible;
                height: auto;
                li{
                  a{
                    //font-family: 'OpenSans';
                    font-size:1.6rem;                 
                  }
                }
              }
            }
          }
          .main-menu-selected{
            box-shadow: 0 6px 0 0px $orange;
            color: $aquamarine !important;
            /*
            > a{
              color: $aquamarine !important;
            }*/
          }
        }
        .dropdown-menu{
          min-width:0%;
          width: 0;
          height: 0px;
          display: block !important;
          overflow: hidden;
          padding: 0;
        }
      }
      .navbar-toggle .icon-bar {
        color: #666;
        background: #666;
      }
    }
  }
/** END HEADER **/
