<header>
    <section class="bar-header container-fluid">
        <div class="header--top">
            <div class="eu-osha-logo  {{pLanguage}}">
                <a href="https://osha.europa.eu/{{pLanguage}}" role="link" title="{{i18n_literals.L363}}" tabindex="0">
                    <picture>
                        <img src="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-esener/static/custom/img/eu-osha-logo/EU-OSHA-{{pLanguage}}.png" alt="{{i18n_literals.L502}}">
                    </picture>
                </a>
            </div>

            <div class="nav--tools--menu">
                <!-- nav tools top -->
                <nav class="menu-tools-top">
                    <ul class="menu-tools-top--items list-inline">
                        <li class="zoom--text">
                            <span class="a_small"><a onclick="zoomSmall()" title="{{i18n_literals.L365}}">a</a></span>
                            <span class="a_medium"><a onclick="zoomMedium()" title="{{i18n_literals.L366}}">a</a></span>
                            <span class="a_big"><a onclick="zoomBig()" title="{{i18n_literals.L367}}">a</a></span>
                        </li>
                        <li class="print--block"><a href="javascript:"  title="{{i18n_literals.L364}}" onclick="window.print()"><i class="fa fa-print" aria-hidden="true"></i><label for="search" class="sr-only" data-ng-bind="i18n_literals.L364"></label></a></li>
                        <li class="lang--block">
                            <form action="" class="lang--form">
                                <label for="search" class="sr-only">Language</label>
                                <select style="width:140px" class="lang-dropdown-select-element form-select" id="lang-dropdown-select-language_content" accesskey="L" title="Language" name="lang_dropdown_select" data-ng-model="pLanguage" data-ng-change="changeLanguage()">
                                    <option value="bg">Български</option>
                                    <option value="cs">Čeština</option>
                                    <option value="da">Dansk</option>
                                    <option value="de">Deutsch</option>
                                    <option value="et">Eesti</option>
                                    <option value="el">Ελληνικά</option>
                                    <option value="en">English</option>
                                    <option value="es">Español</option>
                                    <option value="fr">Français</option>
                                    <option value="hr">Hrvatski</option>
                                    <option value="is">Íslenska</option>
                                    <option value="it">Italiano</option>
                                    <option value="lv">Latviešu</option>
                                    <option value="lt">Lietuvių</option>
                                    <option value="hu">Magyar</option>
                                    <option value="mt">Malti</option>
                                    <option value="nl">Nederlands</option>
                                    <option value="no">Norsk</option>
                                    <option value="pl">Polski</option>
                                    <option value="pt">Português</option>
                                    <option value="ro">Română</option>
                                    <option value="sk">Slovenčina</option>
                                    <option value="sl">Slovenščina</option>
                                    <option value="fi">Suomi</option>
                                    <option value="sv">Svenska</option>
                                </select>
                            </form>
                        </li> 


                       <!--
                        <li id="google_translate_element_wrapper">
                            <div id="google_translate_element"  title="{{i18n_literals.L368}}"></div>
                            <span class="google_translate_span">(machine translation)</span>
                            <span class="gtranslator-info">Info-icon</span>
                            <div id="gTranslate-modal" class="gtranslator-msg" style="display:none" data-ng-bind-html="i18n_literals.L22081">    
                            </div>
                        </li>
                    -->
                    </ul>
                </nav>
                <!-- /. nav tools top -->

                <!-- main menu -->
                <nav class="bar-main-menu navbar">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar bar1"></span>
                            <span class="icon-bar bar2"></span>
                            <span class="icon-bar bar3"></span>
                        </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="main-menu">
                        <ul class="nav navbar-nav">
                            <li class="dropdown" ng-repeat="level0 in structure" ng-class="isCurrentSection('{{ level0.id }}')">
                                <a ng-if='level0.levels && level0.target' class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" target="_self" aria-expanded="false" tabindex="{{level0.tabindex}}">
                                    <span data-ng-bind-html="i18n_literals[level0.name]"></span>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </a>
                                <a ng-if='level0.levels && level0.sref' ui-sref= '{{ level0.sref}}({pLanguage: pLanguage})'
                                   class="dropdown-toggle {{level0.class}}" ng-class="isCurrentStateMenu('{{ level0.id }}')"
                                   data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" tabindex="{{level0.tabindex}}">
                                    <span  data-ng-bind-html="i18n_literals[level0.name]"></span>
                                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                                </a>
                                <a ng-if='!level0.levels && level0.sref' ui-sref='{{ level0.sref}}({pLanguage: pLanguage})' accesskey="{{level0.accesskey}}" tabindex="{{level0.tabindex}}" ng-class="isCurrentStateMenu('{{ level0.id }}')">
                                    <span  data-ng-bind-html="i18n_literals[level0.name]"></span>
                                </a>
                                <ul class="dropdown-menu" ng-if="level0.levels">
                                    <!--
                                    <li ng-repeat="level1 in level0.levels">
                                        <a ng-if="level1.target" target="{{level1.target}}" id="{{level1.id }}" >
                                            <span ng-class="isCurrentStateMenu('{{ level1.id }}')" data-ng-bind-html="i18n_literals[level1.name]"></span>
                                        </a>
                                    </li>
                                -->
                                    <li ng-repeat="level1 in level0.levels" ng-class="isCurrentStateMenu('{{ level1.id }}')">
                                        <a ng-if="level1.sref" ui-sref="{{level1.sref}}({pLanguage: pLanguage, pIndicator: level1.indicator})" id='{{ level1.id }}' accesskey="{{level1.accesskey}}">
                                            <span data-ng-bind-html="i18n_literals[level1.name]"></span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <pre ng-show="false">{{  structure | json }}</pre>
                </nav>
                <!-- /. main menu -->                
            </div>
        </div>


    </section>
    <section class="home-cover" title="{{i18n_literals.L385}}" data-ng-click="goto('home')" >
      <div class="container-fluid">
        <h1 data-ng-if="isHome" class="main-title" >
            <img src="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-esener/static/custom/img/esener-survey.svg" alt="ESENER">
            <span class="main-text sr-only">ESENER Survey</span><span class="lead-title"  data-ng-bind="i18n_literals.L101078"></span>
        </h1>
        <p data-ng-if="!isHome" class="main-title" >
            <img src="/pentaho/plugin/pentaho-cdf-dd/api/resources/system/osha-dvt-esener/static/custom/img/esener-survey.svg" alt="ESENER">
            <span class="main-text sr-only">ESENER Survey</span><span class="lead-title"  data-ng-bind="i18n_literals.L101078"></span>
        </p>
      </div>
    </section>

    <section class="breadcrumbs--social--network">
        <div class="breadcrumbs">
            <p class="path" data-ng-if="breadCrumb.level == 0">
                <span class='current-page' data-ng-bind="i18n_literals[breadCrumb.name]"></span>
            </p>
            <p class="path" data-ng-if="breadCrumb.level == 1">
                <span><a ui-sref='home({pLanguage: pLanguage})' data-ng-bind="i18n_literals.L355"></a></span>
                <i class='fa fa-angle-right' aria-hidden='true'></i>
                <span class='' data-ng-bind="i18n_literals[breadCrumb.name]"></span>
            </p>
            <p class="path" data-ng-if="breadCrumb.level == 2">
                <span><a ui-sref='home({pLanguage: pLanguage})' data-ng-bind="i18n_literals.L355"></a></span>
                <i class='fa fa-angle-right' aria-hidden='true'></i>
                <span class='current-page' data-ng-if="year == 2009"><a ui-sref='overview({pIndicator: 2009, pLanguage: pLanguage})' data-ng-bind="i18n_literals.L101007"></a></span>
                <span class='current-page' data-ng-if="year == 2014"><a ui-sref='overview({pIndicator: 2014, pLanguage: pLanguage})' data-ng-bind="i18n_literals.L101008"></a></span>
                <span class='current-page' data-ng-if="year == 2019"><a ui-sref='overview({pIndicator: 2019, pLanguage: pLanguage})' data-ng-bind="i18n_literals.L101079"></a></span>
                <i class='fa fa-angle-right' aria-hidden='true'></i>
                <span data-ng-bind="i18n_literals[breadCrumb.name]"></span>
            </p>
        </div>
        <div class="social--network--nav" id="osha-menu-social">
            <label data-ng-bind="i18n_literals.L369"></label>
            <ul>
                <li>
                    <a class="main-color" target="_blank" socialshare socialshare-provider="twitter" title ="{{i18n_literals.L370}}" socialshare-text="{{titleShare}}" socialshare-url="{{pathURLDVT}}">
                        <i class="fa fa-lg fa-twitter" aria-hidden="true"></i><span class="sr-only" data-ng-bind="(i18n_literals.L369) + (i18n_literals.L370)"></span>
                    </a>
                </li>
                <li>
                    <a class="main-color" target="_blank" socialshare socialshare-provider="facebook" title="{{i18n_literals.L371}}" socialshare-url="{{pathURLDVT}}" socialshare-quote="{{titleShare}}">
                        <i class="fa fa-lg fa-facebook" aria-hidden="true"></i><span class="sr-only" data-ng-bind="(i18n_literals.L369) + (i18n_literals.L371)"></span>
                    </a>
                </li>
                <li>
                    <a class="main-color" target="_blank" socialshare socialshare-provider="linkedin" title="{{i18n_literals.L372}}" socialshare-url="{{pathURLDVT}}">
                        <i class="fa fa-lg fa-linkedin" aria-hidden="true"></i><span class="sr-only" data-ng-bind="(i18n_literals.L369) + (i18n_literals.L372)"></span>
                    </a>
                </li>
            </ul>
        </div>
    </section>


    <div data-ng-if="!isHome && !isFooterPage">
        <!-- First row of tabs -->
        <section class="container-fluid level2--wrapper">
            <div class="container submenu--level2">
              <ul class="submenu--items--wrapper">
                <!-- ESENER YEAR SELECTION -->
                <li data-ng-class="{'active' : '2019' == pIndicator }" data-ng-click ="openIndicatorsList($event)" class="submenu--item">
                  <a href  ui-sref="overview({pLanguage: pLanguage, pIndicator: '2019'})" data-ng-click="openIndicatorsList($event);" data-ng-class="{'active' : '2019' == pIndicator }" data-ng-bind="i18n_literals.L101079" ></a>
                </li>
                <li data-ng-class="{'active' : '2014' == pIndicator }" data-ng-click ="openIndicatorsList($event)" class="submenu--item">
                    <a href ui-sref="overview({pLanguage: pLanguage, pIndicator: '2014'})" data-ng-click="openIndicatorsList($event);" data-ng-class="{'active' : '2014' == pIndicator }" data-ng-bind="i18n_literals.L101008"></a>
                </li>
                <li data-ng-class="{'active' : '2009' == pIndicator }" data-ng-click ="openIndicatorsList($event)" class="submenu--item">
                    <a href ui-sref="overview({pLanguage: pLanguage, pIndicator: '2009'})" data-ng-click="openIndicatorsList($event);" data-ng-class="{'active' : '2009' == pIndicator }" data-ng-bind="i18n_literals.L101007"></a>
                </li>
              </ul>
            </div>
        </section>

        <div class="line"></div>

        <!-- Second row of tabs  -->
        <section class="container-fluid level3--wrapper">
            <div class="submenu--level3 container">
            <ul  class="submenu--arrows--wrapper show-mobile">
                <li class="left" data-ng-class="{'hide' : 'overview' == currentName || 'comparisons' == currentName }">
                    <a href="" ui-sref="overview({pLanguage: pLanguage, pIndicator: pIndicator})" title="OVERVIEW"><i class="fa fa-angle-left" aria-hidden="true"></i> <span class="sr-only">Previous option</span></a>
                </li>
                <li class="left" data-ng-class="{'hide' : 'overview' == currentName || 'datavisualisation' == currentName }">
                    <a href="" ui-sref="datavisualisation({pLanguage: pLanguage, pIndicator: pIndicator})" title="DATA VISUALISATION"><i class="fa fa-angle-left" aria-hidden="true"></i> <span class="sr-only">Previous option</span></a>
                </li>

                <li class="right" data-ng-class="{'hide' : 'datavisualisation' == currentName || 'comparisons' == currentName  || 'detailpage-european-map' == currentName ||
                    'detailpage-european-bar-chart' == currentName || 'detailpage-national-bar-chart' == currentName || 
                    'detailpage-national-comparisons' == currentName || 'detailpage-pie-chart' == currentName }">
                    <a href="" ui-sref="datavisualisation({pLanguage: pLanguage, pIndicator: pIndicator})" title="DATA VISUALISATION"><i class="fa fa-angle-right" aria-hidden="true"></i> <span class="sr-only">Next option</span></a>
                </li>
                 <li class="right" data-ng-class="{'hide' : '2009' == pIndicator || 'overview' == currentName || 'comparisons' == currentName || 'detailpage-european-map' == currentName || 'detailpage-european-bar-chart' == currentName || 'detailpage-national-bar-chart' == currentName ||  'detailpage-national-comparisons' == currentName || 'detailpage-pie-chart' == currentName }">
                    <a href="" ui-sref="datavisualisation({pLanguage: pLanguage, pIndicator: pIndicator})" title="COMPARISONS"><i class="fa fa-angle-right" aria-hidden="true"></i> <span class="sr-only">Next option</span></a>
                </li>

            </ul>
            <ul class="submenu--items--wrapper">
                <li data-ng-class="{'active' : 'overview' == currentName }" class="submenu--item">
                    <a href="" ui-sref="overview({pLanguage: pLanguage, pIndicator: pIndicator})" data-ng-click="changeIndicator($event,indicator.anchor);" data-ng-class="{'active' : 'overview' == currentName }" data-ng-bind="i18n_literals.L101009"></a>
                </li>
                <li data-ng-class="{'active' : 'datavisualisation' == currentName || 'detailpage-european-map' == currentName ||
                    'detailpage-european-bar-chart' == currentName || 'detailpage-national-bar-chart' == currentName || 
                    'detailpage-national-comparisons' == currentName || 'detailpage-pie-chart' == currentName}" class="submenu--item">
                    <a href="" ui-sref="datavisualisation({pLanguage: pLanguage, pIndicator: pIndicator})" data-ng-click="changeIndicator($event,indicator.anchor);" data-ng-class="{'active' : 'datavisualisation' == currentName || 
                    'detailpage-european-map' == currentName || 'detailpage-european-bar-chart' == currentName ||
                    'detailpage-national-bar-chart' == currentName || 'detailpage-national-comparisons' == currentName || 
                    'detailpage-pie-chart' == currentName}" data-ng-bind="i18n_literals.L101010"></a>
                </li>
                <li data-ng-class="{'active' : 'comparisons' == currentName, 'hide' : '2009' == pIndicator }" class="submenu--item">
                    <a href="" ui-sref="datavisualisation({pLanguage: pLanguage, pIndicator: pIndicator})" data-ng-click="changeIndicator($event,indicator.anchor);" data-ng-class="{'active' : 'comparisons' == currentName }" data-ng-bind="i18n_literals.L101080"></a>
                </li>
            </ul>
            </div>
        </section>
    </div>

</header>




        

